/* Quanta CSS v2.1 - borders-style Dark Variants */

/* Dark Mode Variants */
.dark, [data-theme="dark"] .dark-border-solid { border-style: solid; }
.dark, [data-theme="dark"] .dark-hover-border-solid:hover { border-style: solid; }
.dark, [data-theme="dark"] .dark-focus-border-solid:focus { border-style: solid; }
.dark, [data-theme="dark"] .dark-active-border-solid:active { border-style: solid; }
.dark, [data-theme="dark"] .dark-disabled-border-solid:disabled { border-style: solid; }
.dark, [data-theme="dark"] .dark-focus-visible-border-solid:focus-visible { border-style: solid; }
.dark, [data-theme="dark"] .dark-focus-within-border-solid:focus-within { border-style: solid; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-border-solid { border-style: solid; }
.dark, [data-theme="dark"] .dark-border-dashed { border-style: dashed; }
.dark, [data-theme="dark"] .dark-hover-border-dashed:hover { border-style: dashed; }
.dark, [data-theme="dark"] .dark-focus-border-dashed:focus { border-style: dashed; }
.dark, [data-theme="dark"] .dark-active-border-dashed:active { border-style: dashed; }
.dark, [data-theme="dark"] .dark-disabled-border-dashed:disabled { border-style: dashed; }
.dark, [data-theme="dark"] .dark-focus-visible-border-dashed:focus-visible { border-style: dashed; }
.dark, [data-theme="dark"] .dark-focus-within-border-dashed:focus-within { border-style: dashed; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-border-dashed { border-style: dashed; }
.dark, [data-theme="dark"] .dark-border-dotted { border-style: dotted; }
.dark, [data-theme="dark"] .dark-hover-border-dotted:hover { border-style: dotted; }
.dark, [data-theme="dark"] .dark-focus-border-dotted:focus { border-style: dotted; }
.dark, [data-theme="dark"] .dark-active-border-dotted:active { border-style: dotted; }
.dark, [data-theme="dark"] .dark-disabled-border-dotted:disabled { border-style: dotted; }
.dark, [data-theme="dark"] .dark-focus-visible-border-dotted:focus-visible { border-style: dotted; }
.dark, [data-theme="dark"] .dark-focus-within-border-dotted:focus-within { border-style: dotted; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-border-dotted { border-style: dotted; }
.dark, [data-theme="dark"] .dark-border-double { border-style: double; }
.dark, [data-theme="dark"] .dark-hover-border-double:hover { border-style: double; }
.dark, [data-theme="dark"] .dark-focus-border-double:focus { border-style: double; }
.dark, [data-theme="dark"] .dark-active-border-double:active { border-style: double; }
.dark, [data-theme="dark"] .dark-disabled-border-double:disabled { border-style: double; }
.dark, [data-theme="dark"] .dark-focus-visible-border-double:focus-visible { border-style: double; }
.dark, [data-theme="dark"] .dark-focus-within-border-double:focus-within { border-style: double; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-border-double { border-style: double; }
.dark, [data-theme="dark"] .dark-border-none { border-style: none; }
.dark, [data-theme="dark"] .dark-hover-border-none:hover { border-style: none; }
.dark, [data-theme="dark"] .dark-focus-border-none:focus { border-style: none; }
.dark, [data-theme="dark"] .dark-active-border-none:active { border-style: none; }
.dark, [data-theme="dark"] .dark-disabled-border-none:disabled { border-style: none; }
.dark, [data-theme="dark"] .dark-focus-visible-border-none:focus-visible { border-style: none; }
.dark, [data-theme="dark"] .dark-focus-within-border-none:focus-within { border-style: none; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-border-none { border-style: none; }

/* SM Breakpoint (Dark) */
@media (min-width: 480px) {
  .dark, [data-theme="dark"] .dark-sm-border-solid { border-style: solid; }
  .dark, [data-theme="dark"] .dark-sm-hover-border-solid:hover { border-style: solid; }
  .dark, [data-theme="dark"] .dark-sm-focus-border-solid:focus { border-style: solid; }
  .dark, [data-theme="dark"] .dark-sm-active-border-solid:active { border-style: solid; }
  .dark, [data-theme="dark"] .dark-sm-disabled-border-solid:disabled { border-style: solid; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-border-solid:focus-visible { border-style: solid; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-border-solid:focus-within { border-style: solid; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-border-solid { border-style: solid; }
  .dark, [data-theme="dark"] .dark-sm-border-dashed { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-sm-hover-border-dashed:hover { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-sm-focus-border-dashed:focus { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-sm-active-border-dashed:active { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-sm-disabled-border-dashed:disabled { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-border-dashed:focus-visible { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-border-dashed:focus-within { border-style: dashed; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-border-dashed { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-sm-border-dotted { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-sm-hover-border-dotted:hover { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-sm-focus-border-dotted:focus { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-sm-active-border-dotted:active { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-sm-disabled-border-dotted:disabled { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-border-dotted:focus-visible { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-border-dotted:focus-within { border-style: dotted; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-border-dotted { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-sm-border-double { border-style: double; }
  .dark, [data-theme="dark"] .dark-sm-hover-border-double:hover { border-style: double; }
  .dark, [data-theme="dark"] .dark-sm-focus-border-double:focus { border-style: double; }
  .dark, [data-theme="dark"] .dark-sm-active-border-double:active { border-style: double; }
  .dark, [data-theme="dark"] .dark-sm-disabled-border-double:disabled { border-style: double; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-border-double:focus-visible { border-style: double; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-border-double:focus-within { border-style: double; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-border-double { border-style: double; }
  .dark, [data-theme="dark"] .dark-sm-border-none { border-style: none; }
  .dark, [data-theme="dark"] .dark-sm-hover-border-none:hover { border-style: none; }
  .dark, [data-theme="dark"] .dark-sm-focus-border-none:focus { border-style: none; }
  .dark, [data-theme="dark"] .dark-sm-active-border-none:active { border-style: none; }
  .dark, [data-theme="dark"] .dark-sm-disabled-border-none:disabled { border-style: none; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-border-none:focus-visible { border-style: none; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-border-none:focus-within { border-style: none; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-border-none { border-style: none; }
}

/* MD Breakpoint (Dark) */
@media (min-width: 768px) {
  .dark, [data-theme="dark"] .dark-md-border-solid { border-style: solid; }
  .dark, [data-theme="dark"] .dark-md-hover-border-solid:hover { border-style: solid; }
  .dark, [data-theme="dark"] .dark-md-focus-border-solid:focus { border-style: solid; }
  .dark, [data-theme="dark"] .dark-md-active-border-solid:active { border-style: solid; }
  .dark, [data-theme="dark"] .dark-md-disabled-border-solid:disabled { border-style: solid; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-border-solid:focus-visible { border-style: solid; }
  .dark, [data-theme="dark"] .dark-md-focus-within-border-solid:focus-within { border-style: solid; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-border-solid { border-style: solid; }
  .dark, [data-theme="dark"] .dark-md-border-dashed { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-md-hover-border-dashed:hover { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-md-focus-border-dashed:focus { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-md-active-border-dashed:active { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-md-disabled-border-dashed:disabled { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-border-dashed:focus-visible { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-md-focus-within-border-dashed:focus-within { border-style: dashed; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-border-dashed { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-md-border-dotted { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-md-hover-border-dotted:hover { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-md-focus-border-dotted:focus { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-md-active-border-dotted:active { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-md-disabled-border-dotted:disabled { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-border-dotted:focus-visible { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-md-focus-within-border-dotted:focus-within { border-style: dotted; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-border-dotted { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-md-border-double { border-style: double; }
  .dark, [data-theme="dark"] .dark-md-hover-border-double:hover { border-style: double; }
  .dark, [data-theme="dark"] .dark-md-focus-border-double:focus { border-style: double; }
  .dark, [data-theme="dark"] .dark-md-active-border-double:active { border-style: double; }
  .dark, [data-theme="dark"] .dark-md-disabled-border-double:disabled { border-style: double; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-border-double:focus-visible { border-style: double; }
  .dark, [data-theme="dark"] .dark-md-focus-within-border-double:focus-within { border-style: double; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-border-double { border-style: double; }
  .dark, [data-theme="dark"] .dark-md-border-none { border-style: none; }
  .dark, [data-theme="dark"] .dark-md-hover-border-none:hover { border-style: none; }
  .dark, [data-theme="dark"] .dark-md-focus-border-none:focus { border-style: none; }
  .dark, [data-theme="dark"] .dark-md-active-border-none:active { border-style: none; }
  .dark, [data-theme="dark"] .dark-md-disabled-border-none:disabled { border-style: none; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-border-none:focus-visible { border-style: none; }
  .dark, [data-theme="dark"] .dark-md-focus-within-border-none:focus-within { border-style: none; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-border-none { border-style: none; }
}

/* LG Breakpoint (Dark) */
@media (min-width: 1024px) {
  .dark, [data-theme="dark"] .dark-lg-border-solid { border-style: solid; }
  .dark, [data-theme="dark"] .dark-lg-hover-border-solid:hover { border-style: solid; }
  .dark, [data-theme="dark"] .dark-lg-focus-border-solid:focus { border-style: solid; }
  .dark, [data-theme="dark"] .dark-lg-active-border-solid:active { border-style: solid; }
  .dark, [data-theme="dark"] .dark-lg-disabled-border-solid:disabled { border-style: solid; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-border-solid:focus-visible { border-style: solid; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-border-solid:focus-within { border-style: solid; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-border-solid { border-style: solid; }
  .dark, [data-theme="dark"] .dark-lg-border-dashed { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-lg-hover-border-dashed:hover { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-lg-focus-border-dashed:focus { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-lg-active-border-dashed:active { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-lg-disabled-border-dashed:disabled { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-border-dashed:focus-visible { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-border-dashed:focus-within { border-style: dashed; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-border-dashed { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-lg-border-dotted { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-lg-hover-border-dotted:hover { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-lg-focus-border-dotted:focus { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-lg-active-border-dotted:active { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-lg-disabled-border-dotted:disabled { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-border-dotted:focus-visible { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-border-dotted:focus-within { border-style: dotted; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-border-dotted { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-lg-border-double { border-style: double; }
  .dark, [data-theme="dark"] .dark-lg-hover-border-double:hover { border-style: double; }
  .dark, [data-theme="dark"] .dark-lg-focus-border-double:focus { border-style: double; }
  .dark, [data-theme="dark"] .dark-lg-active-border-double:active { border-style: double; }
  .dark, [data-theme="dark"] .dark-lg-disabled-border-double:disabled { border-style: double; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-border-double:focus-visible { border-style: double; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-border-double:focus-within { border-style: double; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-border-double { border-style: double; }
  .dark, [data-theme="dark"] .dark-lg-border-none { border-style: none; }
  .dark, [data-theme="dark"] .dark-lg-hover-border-none:hover { border-style: none; }
  .dark, [data-theme="dark"] .dark-lg-focus-border-none:focus { border-style: none; }
  .dark, [data-theme="dark"] .dark-lg-active-border-none:active { border-style: none; }
  .dark, [data-theme="dark"] .dark-lg-disabled-border-none:disabled { border-style: none; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-border-none:focus-visible { border-style: none; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-border-none:focus-within { border-style: none; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-border-none { border-style: none; }
}

/* XL Breakpoint (Dark) */
@media (min-width: 1280px) {
  .dark, [data-theme="dark"] .dark-xl-border-solid { border-style: solid; }
  .dark, [data-theme="dark"] .dark-xl-hover-border-solid:hover { border-style: solid; }
  .dark, [data-theme="dark"] .dark-xl-focus-border-solid:focus { border-style: solid; }
  .dark, [data-theme="dark"] .dark-xl-active-border-solid:active { border-style: solid; }
  .dark, [data-theme="dark"] .dark-xl-disabled-border-solid:disabled { border-style: solid; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-border-solid:focus-visible { border-style: solid; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-border-solid:focus-within { border-style: solid; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-border-solid { border-style: solid; }
  .dark, [data-theme="dark"] .dark-xl-border-dashed { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-xl-hover-border-dashed:hover { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-xl-focus-border-dashed:focus { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-xl-active-border-dashed:active { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-xl-disabled-border-dashed:disabled { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-border-dashed:focus-visible { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-border-dashed:focus-within { border-style: dashed; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-border-dashed { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-xl-border-dotted { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-xl-hover-border-dotted:hover { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-xl-focus-border-dotted:focus { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-xl-active-border-dotted:active { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-xl-disabled-border-dotted:disabled { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-border-dotted:focus-visible { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-border-dotted:focus-within { border-style: dotted; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-border-dotted { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-xl-border-double { border-style: double; }
  .dark, [data-theme="dark"] .dark-xl-hover-border-double:hover { border-style: double; }
  .dark, [data-theme="dark"] .dark-xl-focus-border-double:focus { border-style: double; }
  .dark, [data-theme="dark"] .dark-xl-active-border-double:active { border-style: double; }
  .dark, [data-theme="dark"] .dark-xl-disabled-border-double:disabled { border-style: double; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-border-double:focus-visible { border-style: double; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-border-double:focus-within { border-style: double; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-border-double { border-style: double; }
  .dark, [data-theme="dark"] .dark-xl-border-none { border-style: none; }
  .dark, [data-theme="dark"] .dark-xl-hover-border-none:hover { border-style: none; }
  .dark, [data-theme="dark"] .dark-xl-focus-border-none:focus { border-style: none; }
  .dark, [data-theme="dark"] .dark-xl-active-border-none:active { border-style: none; }
  .dark, [data-theme="dark"] .dark-xl-disabled-border-none:disabled { border-style: none; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-border-none:focus-visible { border-style: none; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-border-none:focus-within { border-style: none; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-border-none { border-style: none; }
}

/* UW Breakpoint (Dark) */
@media (min-width: 1536px) {
  .dark, [data-theme="dark"] .dark-uw-border-solid { border-style: solid; }
  .dark, [data-theme="dark"] .dark-uw-hover-border-solid:hover { border-style: solid; }
  .dark, [data-theme="dark"] .dark-uw-focus-border-solid:focus { border-style: solid; }
  .dark, [data-theme="dark"] .dark-uw-active-border-solid:active { border-style: solid; }
  .dark, [data-theme="dark"] .dark-uw-disabled-border-solid:disabled { border-style: solid; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-border-solid:focus-visible { border-style: solid; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-border-solid:focus-within { border-style: solid; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-border-solid { border-style: solid; }
  .dark, [data-theme="dark"] .dark-uw-border-dashed { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-uw-hover-border-dashed:hover { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-uw-focus-border-dashed:focus { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-uw-active-border-dashed:active { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-uw-disabled-border-dashed:disabled { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-border-dashed:focus-visible { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-border-dashed:focus-within { border-style: dashed; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-border-dashed { border-style: dashed; }
  .dark, [data-theme="dark"] .dark-uw-border-dotted { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-uw-hover-border-dotted:hover { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-uw-focus-border-dotted:focus { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-uw-active-border-dotted:active { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-uw-disabled-border-dotted:disabled { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-border-dotted:focus-visible { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-border-dotted:focus-within { border-style: dotted; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-border-dotted { border-style: dotted; }
  .dark, [data-theme="dark"] .dark-uw-border-double { border-style: double; }
  .dark, [data-theme="dark"] .dark-uw-hover-border-double:hover { border-style: double; }
  .dark, [data-theme="dark"] .dark-uw-focus-border-double:focus { border-style: double; }
  .dark, [data-theme="dark"] .dark-uw-active-border-double:active { border-style: double; }
  .dark, [data-theme="dark"] .dark-uw-disabled-border-double:disabled { border-style: double; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-border-double:focus-visible { border-style: double; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-border-double:focus-within { border-style: double; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-border-double { border-style: double; }
  .dark, [data-theme="dark"] .dark-uw-border-none { border-style: none; }
  .dark, [data-theme="dark"] .dark-uw-hover-border-none:hover { border-style: none; }
  .dark, [data-theme="dark"] .dark-uw-focus-border-none:focus { border-style: none; }
  .dark, [data-theme="dark"] .dark-uw-active-border-none:active { border-style: none; }
  .dark, [data-theme="dark"] .dark-uw-disabled-border-none:disabled { border-style: none; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-border-none:focus-visible { border-style: none; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-border-none:focus-within { border-style: none; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-border-none { border-style: none; }
}
