/* Quanta CSS v2.1 - effects-opacity Dark Variants */

/* Dark Mode Variants */
.dark, [data-theme="dark"] .dark-opacity-10 { opacity: 0.1; }
.dark, [data-theme="dark"] .dark-hover-opacity-10:hover { opacity: 0.1; }
.dark, [data-theme="dark"] .dark-focus-opacity-10:focus { opacity: 0.1; }
.dark, [data-theme="dark"] .dark-active-opacity-10:active { opacity: 0.1; }
.dark, [data-theme="dark"] .dark-disabled-opacity-10:disabled { opacity: 0.1; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-10:focus-visible { opacity: 0.1; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-10:focus-within { opacity: 0.1; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-10 { opacity: 0.1; }
.dark, [data-theme="dark"] .dark-opacity-20 { opacity: 0.2; }
.dark, [data-theme="dark"] .dark-hover-opacity-20:hover { opacity: 0.2; }
.dark, [data-theme="dark"] .dark-focus-opacity-20:focus { opacity: 0.2; }
.dark, [data-theme="dark"] .dark-active-opacity-20:active { opacity: 0.2; }
.dark, [data-theme="dark"] .dark-disabled-opacity-20:disabled { opacity: 0.2; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-20:focus-visible { opacity: 0.2; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-20:focus-within { opacity: 0.2; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-20 { opacity: 0.2; }
.dark, [data-theme="dark"] .dark-opacity-25 { opacity: 0.25; }
.dark, [data-theme="dark"] .dark-hover-opacity-25:hover { opacity: 0.25; }
.dark, [data-theme="dark"] .dark-focus-opacity-25:focus { opacity: 0.25; }
.dark, [data-theme="dark"] .dark-active-opacity-25:active { opacity: 0.25; }
.dark, [data-theme="dark"] .dark-disabled-opacity-25:disabled { opacity: 0.25; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-25:focus-visible { opacity: 0.25; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-25:focus-within { opacity: 0.25; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-25 { opacity: 0.25; }
.dark, [data-theme="dark"] .dark-opacity-30 { opacity: 0.3; }
.dark, [data-theme="dark"] .dark-hover-opacity-30:hover { opacity: 0.3; }
.dark, [data-theme="dark"] .dark-focus-opacity-30:focus { opacity: 0.3; }
.dark, [data-theme="dark"] .dark-active-opacity-30:active { opacity: 0.3; }
.dark, [data-theme="dark"] .dark-disabled-opacity-30:disabled { opacity: 0.3; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-30:focus-visible { opacity: 0.3; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-30:focus-within { opacity: 0.3; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-30 { opacity: 0.3; }
.dark, [data-theme="dark"] .dark-opacity-40 { opacity: 0.4; }
.dark, [data-theme="dark"] .dark-hover-opacity-40:hover { opacity: 0.4; }
.dark, [data-theme="dark"] .dark-focus-opacity-40:focus { opacity: 0.4; }
.dark, [data-theme="dark"] .dark-active-opacity-40:active { opacity: 0.4; }
.dark, [data-theme="dark"] .dark-disabled-opacity-40:disabled { opacity: 0.4; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-40:focus-visible { opacity: 0.4; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-40:focus-within { opacity: 0.4; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-40 { opacity: 0.4; }
.dark, [data-theme="dark"] .dark-opacity-50 { opacity: 0.5; }
.dark, [data-theme="dark"] .dark-hover-opacity-50:hover { opacity: 0.5; }
.dark, [data-theme="dark"] .dark-focus-opacity-50:focus { opacity: 0.5; }
.dark, [data-theme="dark"] .dark-active-opacity-50:active { opacity: 0.5; }
.dark, [data-theme="dark"] .dark-disabled-opacity-50:disabled { opacity: 0.5; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-50:focus-visible { opacity: 0.5; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-50:focus-within { opacity: 0.5; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-50 { opacity: 0.5; }
.dark, [data-theme="dark"] .dark-opacity-60 { opacity: 0.6; }
.dark, [data-theme="dark"] .dark-hover-opacity-60:hover { opacity: 0.6; }
.dark, [data-theme="dark"] .dark-focus-opacity-60:focus { opacity: 0.6; }
.dark, [data-theme="dark"] .dark-active-opacity-60:active { opacity: 0.6; }
.dark, [data-theme="dark"] .dark-disabled-opacity-60:disabled { opacity: 0.6; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-60:focus-visible { opacity: 0.6; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-60:focus-within { opacity: 0.6; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-60 { opacity: 0.6; }
.dark, [data-theme="dark"] .dark-opacity-70 { opacity: 0.7; }
.dark, [data-theme="dark"] .dark-hover-opacity-70:hover { opacity: 0.7; }
.dark, [data-theme="dark"] .dark-focus-opacity-70:focus { opacity: 0.7; }
.dark, [data-theme="dark"] .dark-active-opacity-70:active { opacity: 0.7; }
.dark, [data-theme="dark"] .dark-disabled-opacity-70:disabled { opacity: 0.7; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-70:focus-visible { opacity: 0.7; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-70:focus-within { opacity: 0.7; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-70 { opacity: 0.7; }
.dark, [data-theme="dark"] .dark-opacity-75 { opacity: 0.75; }
.dark, [data-theme="dark"] .dark-hover-opacity-75:hover { opacity: 0.75; }
.dark, [data-theme="dark"] .dark-focus-opacity-75:focus { opacity: 0.75; }
.dark, [data-theme="dark"] .dark-active-opacity-75:active { opacity: 0.75; }
.dark, [data-theme="dark"] .dark-disabled-opacity-75:disabled { opacity: 0.75; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-75:focus-visible { opacity: 0.75; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-75:focus-within { opacity: 0.75; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-75 { opacity: 0.75; }
.dark, [data-theme="dark"] .dark-opacity-80 { opacity: 0.8; }
.dark, [data-theme="dark"] .dark-hover-opacity-80:hover { opacity: 0.8; }
.dark, [data-theme="dark"] .dark-focus-opacity-80:focus { opacity: 0.8; }
.dark, [data-theme="dark"] .dark-active-opacity-80:active { opacity: 0.8; }
.dark, [data-theme="dark"] .dark-disabled-opacity-80:disabled { opacity: 0.8; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-80:focus-visible { opacity: 0.8; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-80:focus-within { opacity: 0.8; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-80 { opacity: 0.8; }
.dark, [data-theme="dark"] .dark-opacity-90 { opacity: 0.9; }
.dark, [data-theme="dark"] .dark-hover-opacity-90:hover { opacity: 0.9; }
.dark, [data-theme="dark"] .dark-focus-opacity-90:focus { opacity: 0.9; }
.dark, [data-theme="dark"] .dark-active-opacity-90:active { opacity: 0.9; }
.dark, [data-theme="dark"] .dark-disabled-opacity-90:disabled { opacity: 0.9; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-90:focus-visible { opacity: 0.9; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-90:focus-within { opacity: 0.9; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-90 { opacity: 0.9; }
.dark, [data-theme="dark"] .dark-opacity-100 { opacity: 1; }
.dark, [data-theme="dark"] .dark-hover-opacity-100:hover { opacity: 1; }
.dark, [data-theme="dark"] .dark-focus-opacity-100:focus { opacity: 1; }
.dark, [data-theme="dark"] .dark-active-opacity-100:active { opacity: 1; }
.dark, [data-theme="dark"] .dark-disabled-opacity-100:disabled { opacity: 1; }
.dark, [data-theme="dark"] .dark-focus-visible-opacity-100:focus-visible { opacity: 1; }
.dark, [data-theme="dark"] .dark-focus-within-opacity-100:focus-within { opacity: 1; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-opacity-100 { opacity: 1; }

/* SM Breakpoint (Dark) */
@media (min-width: 480px) {
  .dark, [data-theme="dark"] .dark-sm-opacity-10 { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-10:hover { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-10:focus { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-10:active { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-10:disabled { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-10:focus-visible { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-10:focus-within { opacity: 0.1; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-10 { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-sm-opacity-20 { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-20:hover { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-20:focus { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-20:active { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-20:disabled { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-20:focus-visible { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-20:focus-within { opacity: 0.2; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-20 { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-sm-opacity-25 { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-25:hover { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-25:focus { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-25:active { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-25:disabled { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-25:focus-visible { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-25:focus-within { opacity: 0.25; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-25 { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-sm-opacity-30 { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-30:hover { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-30:focus { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-30:active { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-30:disabled { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-30:focus-visible { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-30:focus-within { opacity: 0.3; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-30 { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-sm-opacity-40 { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-40:hover { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-40:focus { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-40:active { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-40:disabled { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-40:focus-visible { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-40:focus-within { opacity: 0.4; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-40 { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-sm-opacity-50 { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-50:hover { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-50:focus { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-50:active { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-50:disabled { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-50:focus-visible { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-50:focus-within { opacity: 0.5; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-50 { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-sm-opacity-60 { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-60:hover { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-60:focus { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-60:active { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-60:disabled { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-60:focus-visible { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-60:focus-within { opacity: 0.6; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-60 { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-sm-opacity-70 { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-70:hover { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-70:focus { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-70:active { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-70:disabled { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-70:focus-visible { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-70:focus-within { opacity: 0.7; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-70 { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-sm-opacity-75 { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-75:hover { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-75:focus { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-75:active { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-75:disabled { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-75:focus-visible { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-75:focus-within { opacity: 0.75; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-75 { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-sm-opacity-80 { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-80:hover { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-80:focus { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-80:active { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-80:disabled { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-80:focus-visible { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-80:focus-within { opacity: 0.8; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-80 { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-sm-opacity-90 { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-90:hover { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-90:focus { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-90:active { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-90:disabled { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-90:focus-visible { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-90:focus-within { opacity: 0.9; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-90 { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-sm-opacity-100 { opacity: 1; }
  .dark, [data-theme="dark"] .dark-sm-hover-opacity-100:hover { opacity: 1; }
  .dark, [data-theme="dark"] .dark-sm-focus-opacity-100:focus { opacity: 1; }
  .dark, [data-theme="dark"] .dark-sm-active-opacity-100:active { opacity: 1; }
  .dark, [data-theme="dark"] .dark-sm-disabled-opacity-100:disabled { opacity: 1; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-opacity-100:focus-visible { opacity: 1; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-opacity-100:focus-within { opacity: 1; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-opacity-100 { opacity: 1; }
}

/* MD Breakpoint (Dark) */
@media (min-width: 768px) {
  .dark, [data-theme="dark"] .dark-md-opacity-10 { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-10:hover { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-10:focus { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-10:active { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-10:disabled { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-10:focus-visible { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-10:focus-within { opacity: 0.1; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-10 { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-md-opacity-20 { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-20:hover { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-20:focus { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-20:active { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-20:disabled { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-20:focus-visible { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-20:focus-within { opacity: 0.2; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-20 { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-md-opacity-25 { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-25:hover { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-25:focus { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-25:active { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-25:disabled { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-25:focus-visible { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-25:focus-within { opacity: 0.25; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-25 { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-md-opacity-30 { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-30:hover { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-30:focus { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-30:active { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-30:disabled { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-30:focus-visible { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-30:focus-within { opacity: 0.3; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-30 { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-md-opacity-40 { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-40:hover { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-40:focus { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-40:active { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-40:disabled { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-40:focus-visible { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-40:focus-within { opacity: 0.4; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-40 { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-md-opacity-50 { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-50:hover { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-50:focus { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-50:active { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-50:disabled { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-50:focus-visible { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-50:focus-within { opacity: 0.5; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-50 { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-md-opacity-60 { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-60:hover { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-60:focus { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-60:active { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-60:disabled { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-60:focus-visible { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-60:focus-within { opacity: 0.6; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-60 { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-md-opacity-70 { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-70:hover { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-70:focus { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-70:active { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-70:disabled { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-70:focus-visible { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-70:focus-within { opacity: 0.7; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-70 { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-md-opacity-75 { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-75:hover { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-75:focus { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-75:active { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-75:disabled { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-75:focus-visible { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-75:focus-within { opacity: 0.75; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-75 { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-md-opacity-80 { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-80:hover { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-80:focus { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-80:active { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-80:disabled { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-80:focus-visible { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-80:focus-within { opacity: 0.8; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-80 { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-md-opacity-90 { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-90:hover { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-90:focus { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-90:active { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-90:disabled { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-90:focus-visible { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-90:focus-within { opacity: 0.9; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-90 { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-md-opacity-100 { opacity: 1; }
  .dark, [data-theme="dark"] .dark-md-hover-opacity-100:hover { opacity: 1; }
  .dark, [data-theme="dark"] .dark-md-focus-opacity-100:focus { opacity: 1; }
  .dark, [data-theme="dark"] .dark-md-active-opacity-100:active { opacity: 1; }
  .dark, [data-theme="dark"] .dark-md-disabled-opacity-100:disabled { opacity: 1; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-opacity-100:focus-visible { opacity: 1; }
  .dark, [data-theme="dark"] .dark-md-focus-within-opacity-100:focus-within { opacity: 1; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-opacity-100 { opacity: 1; }
}

/* LG Breakpoint (Dark) */
@media (min-width: 1024px) {
  .dark, [data-theme="dark"] .dark-lg-opacity-10 { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-10:hover { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-10:focus { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-10:active { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-10:disabled { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-10:focus-visible { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-10:focus-within { opacity: 0.1; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-10 { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-lg-opacity-20 { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-20:hover { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-20:focus { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-20:active { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-20:disabled { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-20:focus-visible { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-20:focus-within { opacity: 0.2; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-20 { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-lg-opacity-25 { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-25:hover { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-25:focus { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-25:active { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-25:disabled { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-25:focus-visible { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-25:focus-within { opacity: 0.25; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-25 { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-lg-opacity-30 { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-30:hover { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-30:focus { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-30:active { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-30:disabled { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-30:focus-visible { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-30:focus-within { opacity: 0.3; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-30 { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-lg-opacity-40 { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-40:hover { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-40:focus { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-40:active { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-40:disabled { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-40:focus-visible { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-40:focus-within { opacity: 0.4; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-40 { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-lg-opacity-50 { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-50:hover { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-50:focus { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-50:active { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-50:disabled { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-50:focus-visible { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-50:focus-within { opacity: 0.5; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-50 { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-lg-opacity-60 { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-60:hover { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-60:focus { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-60:active { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-60:disabled { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-60:focus-visible { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-60:focus-within { opacity: 0.6; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-60 { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-lg-opacity-70 { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-70:hover { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-70:focus { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-70:active { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-70:disabled { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-70:focus-visible { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-70:focus-within { opacity: 0.7; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-70 { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-lg-opacity-75 { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-75:hover { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-75:focus { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-75:active { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-75:disabled { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-75:focus-visible { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-75:focus-within { opacity: 0.75; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-75 { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-lg-opacity-80 { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-80:hover { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-80:focus { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-80:active { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-80:disabled { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-80:focus-visible { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-80:focus-within { opacity: 0.8; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-80 { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-lg-opacity-90 { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-90:hover { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-90:focus { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-90:active { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-90:disabled { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-90:focus-visible { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-90:focus-within { opacity: 0.9; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-90 { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-lg-opacity-100 { opacity: 1; }
  .dark, [data-theme="dark"] .dark-lg-hover-opacity-100:hover { opacity: 1; }
  .dark, [data-theme="dark"] .dark-lg-focus-opacity-100:focus { opacity: 1; }
  .dark, [data-theme="dark"] .dark-lg-active-opacity-100:active { opacity: 1; }
  .dark, [data-theme="dark"] .dark-lg-disabled-opacity-100:disabled { opacity: 1; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-opacity-100:focus-visible { opacity: 1; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-opacity-100:focus-within { opacity: 1; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-opacity-100 { opacity: 1; }
}

/* XL Breakpoint (Dark) */
@media (min-width: 1280px) {
  .dark, [data-theme="dark"] .dark-xl-opacity-10 { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-10:hover { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-10:focus { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-10:active { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-10:disabled { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-10:focus-visible { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-10:focus-within { opacity: 0.1; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-10 { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-xl-opacity-20 { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-20:hover { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-20:focus { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-20:active { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-20:disabled { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-20:focus-visible { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-20:focus-within { opacity: 0.2; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-20 { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-xl-opacity-25 { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-25:hover { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-25:focus { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-25:active { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-25:disabled { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-25:focus-visible { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-25:focus-within { opacity: 0.25; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-25 { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-xl-opacity-30 { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-30:hover { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-30:focus { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-30:active { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-30:disabled { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-30:focus-visible { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-30:focus-within { opacity: 0.3; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-30 { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-xl-opacity-40 { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-40:hover { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-40:focus { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-40:active { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-40:disabled { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-40:focus-visible { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-40:focus-within { opacity: 0.4; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-40 { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-xl-opacity-50 { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-50:hover { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-50:focus { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-50:active { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-50:disabled { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-50:focus-visible { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-50:focus-within { opacity: 0.5; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-50 { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-xl-opacity-60 { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-60:hover { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-60:focus { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-60:active { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-60:disabled { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-60:focus-visible { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-60:focus-within { opacity: 0.6; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-60 { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-xl-opacity-70 { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-70:hover { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-70:focus { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-70:active { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-70:disabled { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-70:focus-visible { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-70:focus-within { opacity: 0.7; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-70 { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-xl-opacity-75 { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-75:hover { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-75:focus { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-75:active { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-75:disabled { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-75:focus-visible { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-75:focus-within { opacity: 0.75; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-75 { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-xl-opacity-80 { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-80:hover { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-80:focus { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-80:active { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-80:disabled { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-80:focus-visible { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-80:focus-within { opacity: 0.8; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-80 { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-xl-opacity-90 { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-90:hover { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-90:focus { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-90:active { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-90:disabled { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-90:focus-visible { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-90:focus-within { opacity: 0.9; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-90 { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-xl-opacity-100 { opacity: 1; }
  .dark, [data-theme="dark"] .dark-xl-hover-opacity-100:hover { opacity: 1; }
  .dark, [data-theme="dark"] .dark-xl-focus-opacity-100:focus { opacity: 1; }
  .dark, [data-theme="dark"] .dark-xl-active-opacity-100:active { opacity: 1; }
  .dark, [data-theme="dark"] .dark-xl-disabled-opacity-100:disabled { opacity: 1; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-opacity-100:focus-visible { opacity: 1; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-opacity-100:focus-within { opacity: 1; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-opacity-100 { opacity: 1; }
}

/* UW Breakpoint (Dark) */
@media (min-width: 1536px) {
  .dark, [data-theme="dark"] .dark-uw-opacity-10 { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-10:hover { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-10:focus { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-10:active { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-10:disabled { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-10:focus-visible { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-10:focus-within { opacity: 0.1; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-10 { opacity: 0.1; }
  .dark, [data-theme="dark"] .dark-uw-opacity-20 { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-20:hover { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-20:focus { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-20:active { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-20:disabled { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-20:focus-visible { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-20:focus-within { opacity: 0.2; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-20 { opacity: 0.2; }
  .dark, [data-theme="dark"] .dark-uw-opacity-25 { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-25:hover { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-25:focus { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-25:active { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-25:disabled { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-25:focus-visible { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-25:focus-within { opacity: 0.25; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-25 { opacity: 0.25; }
  .dark, [data-theme="dark"] .dark-uw-opacity-30 { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-30:hover { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-30:focus { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-30:active { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-30:disabled { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-30:focus-visible { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-30:focus-within { opacity: 0.3; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-30 { opacity: 0.3; }
  .dark, [data-theme="dark"] .dark-uw-opacity-40 { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-40:hover { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-40:focus { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-40:active { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-40:disabled { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-40:focus-visible { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-40:focus-within { opacity: 0.4; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-40 { opacity: 0.4; }
  .dark, [data-theme="dark"] .dark-uw-opacity-50 { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-50:hover { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-50:focus { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-50:active { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-50:disabled { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-50:focus-visible { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-50:focus-within { opacity: 0.5; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-50 { opacity: 0.5; }
  .dark, [data-theme="dark"] .dark-uw-opacity-60 { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-60:hover { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-60:focus { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-60:active { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-60:disabled { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-60:focus-visible { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-60:focus-within { opacity: 0.6; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-60 { opacity: 0.6; }
  .dark, [data-theme="dark"] .dark-uw-opacity-70 { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-70:hover { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-70:focus { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-70:active { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-70:disabled { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-70:focus-visible { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-70:focus-within { opacity: 0.7; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-70 { opacity: 0.7; }
  .dark, [data-theme="dark"] .dark-uw-opacity-75 { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-75:hover { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-75:focus { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-75:active { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-75:disabled { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-75:focus-visible { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-75:focus-within { opacity: 0.75; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-75 { opacity: 0.75; }
  .dark, [data-theme="dark"] .dark-uw-opacity-80 { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-80:hover { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-80:focus { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-80:active { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-80:disabled { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-80:focus-visible { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-80:focus-within { opacity: 0.8; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-80 { opacity: 0.8; }
  .dark, [data-theme="dark"] .dark-uw-opacity-90 { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-90:hover { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-90:focus { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-90:active { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-90:disabled { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-90:focus-visible { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-90:focus-within { opacity: 0.9; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-90 { opacity: 0.9; }
  .dark, [data-theme="dark"] .dark-uw-opacity-100 { opacity: 1; }
  .dark, [data-theme="dark"] .dark-uw-hover-opacity-100:hover { opacity: 1; }
  .dark, [data-theme="dark"] .dark-uw-focus-opacity-100:focus { opacity: 1; }
  .dark, [data-theme="dark"] .dark-uw-active-opacity-100:active { opacity: 1; }
  .dark, [data-theme="dark"] .dark-uw-disabled-opacity-100:disabled { opacity: 1; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-opacity-100:focus-visible { opacity: 1; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-opacity-100:focus-within { opacity: 1; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-opacity-100 { opacity: 1; }
}
