/* Quanta CSS v2.1 - layout-display Light Variants */

/* State Variants */
.hover-d-block:hover { display: block; }
.focus-d-block:focus { display: block; }
.active-d-block:active { display: block; }
.disabled-d-block:disabled { display: block; }
.focus-visible-d-block:focus-visible { display: block; }
.focus-within-d-block:focus-within { display: block; }
.group:hover .group-hover-d-block { display: block; }
.hover-d-inline:hover { display: inline; }
.focus-d-inline:focus { display: inline; }
.active-d-inline:active { display: inline; }
.disabled-d-inline:disabled { display: inline; }
.focus-visible-d-inline:focus-visible { display: inline; }
.focus-within-d-inline:focus-within { display: inline; }
.group:hover .group-hover-d-inline { display: inline; }
.hover-d-inline-block:hover { display: inline-block; }
.focus-d-inline-block:focus { display: inline-block; }
.active-d-inline-block:active { display: inline-block; }
.disabled-d-inline-block:disabled { display: inline-block; }
.focus-visible-d-inline-block:focus-visible { display: inline-block; }
.focus-within-d-inline-block:focus-within { display: inline-block; }
.group:hover .group-hover-d-inline-block { display: inline-block; }
.hover-d-flex:hover { display: flex; }
.focus-d-flex:focus { display: flex; }
.active-d-flex:active { display: flex; }
.disabled-d-flex:disabled { display: flex; }
.focus-visible-d-flex:focus-visible { display: flex; }
.focus-within-d-flex:focus-within { display: flex; }
.group:hover .group-hover-d-flex { display: flex; }
.hover-d-inline-flex:hover { display: inline-flex; }
.focus-d-inline-flex:focus { display: inline-flex; }
.active-d-inline-flex:active { display: inline-flex; }
.disabled-d-inline-flex:disabled { display: inline-flex; }
.focus-visible-d-inline-flex:focus-visible { display: inline-flex; }
.focus-within-d-inline-flex:focus-within { display: inline-flex; }
.group:hover .group-hover-d-inline-flex { display: inline-flex; }
.hover-d-grid:hover { display: grid; }
.focus-d-grid:focus { display: grid; }
.active-d-grid:active { display: grid; }
.disabled-d-grid:disabled { display: grid; }
.focus-visible-d-grid:focus-visible { display: grid; }
.focus-within-d-grid:focus-within { display: grid; }
.group:hover .group-hover-d-grid { display: grid; }
.hover-d-inline-grid:hover { display: inline-grid; }
.focus-d-inline-grid:focus { display: inline-grid; }
.active-d-inline-grid:active { display: inline-grid; }
.disabled-d-inline-grid:disabled { display: inline-grid; }
.focus-visible-d-inline-grid:focus-visible { display: inline-grid; }
.focus-within-d-inline-grid:focus-within { display: inline-grid; }
.group:hover .group-hover-d-inline-grid { display: inline-grid; }
.hover-d-none:hover { display: none; }
.focus-d-none:focus { display: none; }
.active-d-none:active { display: none; }
.disabled-d-none:disabled { display: none; }
.focus-visible-d-none:focus-visible { display: none; }
.focus-within-d-none:focus-within { display: none; }
.group:hover .group-hover-d-none { display: none; }
.hover-visible:hover { visibility: visible; }
.focus-visible:focus { visibility: visible; }
.active-visible:active { visibility: visible; }
.disabled-visible:disabled { visibility: visible; }
.focus-visible-visible:focus-visible { visibility: visible; }
.focus-within-visible:focus-within { visibility: visible; }
.group:hover .group-hover-visible { visibility: visible; }
.hover-hidden:hover { visibility: hidden; }
.focus-hidden:focus { visibility: hidden; }
.active-hidden:active { visibility: hidden; }
.disabled-hidden:disabled { visibility: hidden; }
.focus-visible-hidden:focus-visible { visibility: hidden; }
.focus-within-hidden:focus-within { visibility: hidden; }
.group:hover .group-hover-hidden { visibility: hidden; }
.hover-collapse:hover { visibility: collapse; }
.focus-collapse:focus { visibility: collapse; }
.active-collapse:active { visibility: collapse; }
.disabled-collapse:disabled { visibility: collapse; }
.focus-visible-collapse:focus-visible { visibility: collapse; }
.focus-within-collapse:focus-within { visibility: collapse; }
.group:hover .group-hover-collapse { visibility: collapse; }
.hover-backface-visible:hover { backface-visibility: visible; }
.focus-backface-visible:focus { backface-visibility: visible; }
.active-backface-visible:active { backface-visibility: visible; }
.disabled-backface-visible:disabled { backface-visibility: visible; }
.focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
.focus-within-backface-visible:focus-within { backface-visibility: visible; }
.group:hover .group-hover-backface-visible { backface-visibility: visible; }
.hover-backface-hidden:hover { backface-visibility: hidden; }
.focus-backface-hidden:focus { backface-visibility: hidden; }
.active-backface-hidden:active { backface-visibility: hidden; }
.disabled-backface-hidden:disabled { backface-visibility: hidden; }
.focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
.focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
.group:hover .group-hover-backface-hidden { backface-visibility: hidden; }
.hover-content-hidden:hover { content-visibility: hidden; }
.focus-content-hidden:focus { content-visibility: hidden; }
.active-content-hidden:active { content-visibility: hidden; }
.disabled-content-hidden:disabled { content-visibility: hidden; }
.focus-visible-content-hidden:focus-visible { content-visibility: hidden; }
.focus-within-content-hidden:focus-within { content-visibility: hidden; }
.group:hover .group-hover-content-hidden { content-visibility: hidden; }
.hover-content-visible:hover { content-visibility: visible; }
.focus-content-visible:focus { content-visibility: visible; }
.active-content-visible:active { content-visibility: visible; }
.disabled-content-visible:disabled { content-visibility: visible; }
.focus-visible-content-visible:focus-visible { content-visibility: visible; }
.focus-within-content-visible:focus-within { content-visibility: visible; }
.group:hover .group-hover-content-visible { content-visibility: visible; }
.hover-backface-visible:hover { backface-visibility: visible; }
.focus-backface-visible:focus { backface-visibility: visible; }
.active-backface-visible:active { backface-visibility: visible; }
.disabled-backface-visible:disabled { backface-visibility: visible; }
.focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
.focus-within-backface-visible:focus-within { backface-visibility: visible; }
.group:hover .group-hover-backface-visible { backface-visibility: visible; }
.hover-backface-hidden:hover { backface-visibility: hidden; }
.focus-backface-hidden:focus { backface-visibility: hidden; }
.active-backface-hidden:active { backface-visibility: hidden; }
.disabled-backface-hidden:disabled { backface-visibility: hidden; }
.focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
.focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
.group:hover .group-hover-backface-hidden { backface-visibility: hidden; }

/* SM Breakpoint */
@media (min-width: 480px) {
  .sm-d-block { display: block; }
  .sm-hover-d-block:hover { display: block; }
  .sm-focus-d-block:focus { display: block; }
  .sm-active-d-block:active { display: block; }
  .sm-disabled-d-block:disabled { display: block; }
  .sm-focus-visible-d-block:focus-visible { display: block; }
  .sm-focus-within-d-block:focus-within { display: block; }
  .group:hover .sm-group-hover-d-block { display: block; }
  .sm-d-inline { display: inline; }
  .sm-hover-d-inline:hover { display: inline; }
  .sm-focus-d-inline:focus { display: inline; }
  .sm-active-d-inline:active { display: inline; }
  .sm-disabled-d-inline:disabled { display: inline; }
  .sm-focus-visible-d-inline:focus-visible { display: inline; }
  .sm-focus-within-d-inline:focus-within { display: inline; }
  .group:hover .sm-group-hover-d-inline { display: inline; }
  .sm-d-inline-block { display: inline-block; }
  .sm-hover-d-inline-block:hover { display: inline-block; }
  .sm-focus-d-inline-block:focus { display: inline-block; }
  .sm-active-d-inline-block:active { display: inline-block; }
  .sm-disabled-d-inline-block:disabled { display: inline-block; }
  .sm-focus-visible-d-inline-block:focus-visible { display: inline-block; }
  .sm-focus-within-d-inline-block:focus-within { display: inline-block; }
  .group:hover .sm-group-hover-d-inline-block { display: inline-block; }
  .sm-d-flex { display: flex; }
  .sm-hover-d-flex:hover { display: flex; }
  .sm-focus-d-flex:focus { display: flex; }
  .sm-active-d-flex:active { display: flex; }
  .sm-disabled-d-flex:disabled { display: flex; }
  .sm-focus-visible-d-flex:focus-visible { display: flex; }
  .sm-focus-within-d-flex:focus-within { display: flex; }
  .group:hover .sm-group-hover-d-flex { display: flex; }
  .sm-d-inline-flex { display: inline-flex; }
  .sm-hover-d-inline-flex:hover { display: inline-flex; }
  .sm-focus-d-inline-flex:focus { display: inline-flex; }
  .sm-active-d-inline-flex:active { display: inline-flex; }
  .sm-disabled-d-inline-flex:disabled { display: inline-flex; }
  .sm-focus-visible-d-inline-flex:focus-visible { display: inline-flex; }
  .sm-focus-within-d-inline-flex:focus-within { display: inline-flex; }
  .group:hover .sm-group-hover-d-inline-flex { display: inline-flex; }
  .sm-d-grid { display: grid; }
  .sm-hover-d-grid:hover { display: grid; }
  .sm-focus-d-grid:focus { display: grid; }
  .sm-active-d-grid:active { display: grid; }
  .sm-disabled-d-grid:disabled { display: grid; }
  .sm-focus-visible-d-grid:focus-visible { display: grid; }
  .sm-focus-within-d-grid:focus-within { display: grid; }
  .group:hover .sm-group-hover-d-grid { display: grid; }
  .sm-d-inline-grid { display: inline-grid; }
  .sm-hover-d-inline-grid:hover { display: inline-grid; }
  .sm-focus-d-inline-grid:focus { display: inline-grid; }
  .sm-active-d-inline-grid:active { display: inline-grid; }
  .sm-disabled-d-inline-grid:disabled { display: inline-grid; }
  .sm-focus-visible-d-inline-grid:focus-visible { display: inline-grid; }
  .sm-focus-within-d-inline-grid:focus-within { display: inline-grid; }
  .group:hover .sm-group-hover-d-inline-grid { display: inline-grid; }
  .sm-d-none { display: none; }
  .sm-hover-d-none:hover { display: none; }
  .sm-focus-d-none:focus { display: none; }
  .sm-active-d-none:active { display: none; }
  .sm-disabled-d-none:disabled { display: none; }
  .sm-focus-visible-d-none:focus-visible { display: none; }
  .sm-focus-within-d-none:focus-within { display: none; }
  .group:hover .sm-group-hover-d-none { display: none; }
  .sm-visible { visibility: visible; }
  .sm-hover-visible:hover { visibility: visible; }
  .sm-focus-visible:focus { visibility: visible; }
  .sm-active-visible:active { visibility: visible; }
  .sm-disabled-visible:disabled { visibility: visible; }
  .sm-focus-visible-visible:focus-visible { visibility: visible; }
  .sm-focus-within-visible:focus-within { visibility: visible; }
  .group:hover .sm-group-hover-visible { visibility: visible; }
  .sm-hidden { visibility: hidden; }
  .sm-hover-hidden:hover { visibility: hidden; }
  .sm-focus-hidden:focus { visibility: hidden; }
  .sm-active-hidden:active { visibility: hidden; }
  .sm-disabled-hidden:disabled { visibility: hidden; }
  .sm-focus-visible-hidden:focus-visible { visibility: hidden; }
  .sm-focus-within-hidden:focus-within { visibility: hidden; }
  .group:hover .sm-group-hover-hidden { visibility: hidden; }
  .sm-collapse { visibility: collapse; }
  .sm-hover-collapse:hover { visibility: collapse; }
  .sm-focus-collapse:focus { visibility: collapse; }
  .sm-active-collapse:active { visibility: collapse; }
  .sm-disabled-collapse:disabled { visibility: collapse; }
  .sm-focus-visible-collapse:focus-visible { visibility: collapse; }
  .sm-focus-within-collapse:focus-within { visibility: collapse; }
  .group:hover .sm-group-hover-collapse { visibility: collapse; }
  .sm-backface-visible { backface-visibility: visible; }
  .sm-hover-backface-visible:hover { backface-visibility: visible; }
  .sm-focus-backface-visible:focus { backface-visibility: visible; }
  .sm-active-backface-visible:active { backface-visibility: visible; }
  .sm-disabled-backface-visible:disabled { backface-visibility: visible; }
  .sm-focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
  .sm-focus-within-backface-visible:focus-within { backface-visibility: visible; }
  .group:hover .sm-group-hover-backface-visible { backface-visibility: visible; }
  .sm-backface-hidden { backface-visibility: hidden; }
  .sm-hover-backface-hidden:hover { backface-visibility: hidden; }
  .sm-focus-backface-hidden:focus { backface-visibility: hidden; }
  .sm-active-backface-hidden:active { backface-visibility: hidden; }
  .sm-disabled-backface-hidden:disabled { backface-visibility: hidden; }
  .sm-focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
  .sm-focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
  .group:hover .sm-group-hover-backface-hidden { backface-visibility: hidden; }
  .sm-content-hidden { content-visibility: hidden; }
  .sm-hover-content-hidden:hover { content-visibility: hidden; }
  .sm-focus-content-hidden:focus { content-visibility: hidden; }
  .sm-active-content-hidden:active { content-visibility: hidden; }
  .sm-disabled-content-hidden:disabled { content-visibility: hidden; }
  .sm-focus-visible-content-hidden:focus-visible { content-visibility: hidden; }
  .sm-focus-within-content-hidden:focus-within { content-visibility: hidden; }
  .group:hover .sm-group-hover-content-hidden { content-visibility: hidden; }
  .sm-content-visible { content-visibility: visible; }
  .sm-hover-content-visible:hover { content-visibility: visible; }
  .sm-focus-content-visible:focus { content-visibility: visible; }
  .sm-active-content-visible:active { content-visibility: visible; }
  .sm-disabled-content-visible:disabled { content-visibility: visible; }
  .sm-focus-visible-content-visible:focus-visible { content-visibility: visible; }
  .sm-focus-within-content-visible:focus-within { content-visibility: visible; }
  .group:hover .sm-group-hover-content-visible { content-visibility: visible; }
  .sm-backface-visible { backface-visibility: visible; }
  .sm-hover-backface-visible:hover { backface-visibility: visible; }
  .sm-focus-backface-visible:focus { backface-visibility: visible; }
  .sm-active-backface-visible:active { backface-visibility: visible; }
  .sm-disabled-backface-visible:disabled { backface-visibility: visible; }
  .sm-focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
  .sm-focus-within-backface-visible:focus-within { backface-visibility: visible; }
  .group:hover .sm-group-hover-backface-visible { backface-visibility: visible; }
  .sm-backface-hidden { backface-visibility: hidden; }
  .sm-hover-backface-hidden:hover { backface-visibility: hidden; }
  .sm-focus-backface-hidden:focus { backface-visibility: hidden; }
  .sm-active-backface-hidden:active { backface-visibility: hidden; }
  .sm-disabled-backface-hidden:disabled { backface-visibility: hidden; }
  .sm-focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
  .sm-focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
  .group:hover .sm-group-hover-backface-hidden { backface-visibility: hidden; }
}

/* MD Breakpoint */
@media (min-width: 768px) {
  .md-d-block { display: block; }
  .md-hover-d-block:hover { display: block; }
  .md-focus-d-block:focus { display: block; }
  .md-active-d-block:active { display: block; }
  .md-disabled-d-block:disabled { display: block; }
  .md-focus-visible-d-block:focus-visible { display: block; }
  .md-focus-within-d-block:focus-within { display: block; }
  .group:hover .md-group-hover-d-block { display: block; }
  .md-d-inline { display: inline; }
  .md-hover-d-inline:hover { display: inline; }
  .md-focus-d-inline:focus { display: inline; }
  .md-active-d-inline:active { display: inline; }
  .md-disabled-d-inline:disabled { display: inline; }
  .md-focus-visible-d-inline:focus-visible { display: inline; }
  .md-focus-within-d-inline:focus-within { display: inline; }
  .group:hover .md-group-hover-d-inline { display: inline; }
  .md-d-inline-block { display: inline-block; }
  .md-hover-d-inline-block:hover { display: inline-block; }
  .md-focus-d-inline-block:focus { display: inline-block; }
  .md-active-d-inline-block:active { display: inline-block; }
  .md-disabled-d-inline-block:disabled { display: inline-block; }
  .md-focus-visible-d-inline-block:focus-visible { display: inline-block; }
  .md-focus-within-d-inline-block:focus-within { display: inline-block; }
  .group:hover .md-group-hover-d-inline-block { display: inline-block; }
  .md-d-flex { display: flex; }
  .md-hover-d-flex:hover { display: flex; }
  .md-focus-d-flex:focus { display: flex; }
  .md-active-d-flex:active { display: flex; }
  .md-disabled-d-flex:disabled { display: flex; }
  .md-focus-visible-d-flex:focus-visible { display: flex; }
  .md-focus-within-d-flex:focus-within { display: flex; }
  .group:hover .md-group-hover-d-flex { display: flex; }
  .md-d-inline-flex { display: inline-flex; }
  .md-hover-d-inline-flex:hover { display: inline-flex; }
  .md-focus-d-inline-flex:focus { display: inline-flex; }
  .md-active-d-inline-flex:active { display: inline-flex; }
  .md-disabled-d-inline-flex:disabled { display: inline-flex; }
  .md-focus-visible-d-inline-flex:focus-visible { display: inline-flex; }
  .md-focus-within-d-inline-flex:focus-within { display: inline-flex; }
  .group:hover .md-group-hover-d-inline-flex { display: inline-flex; }
  .md-d-grid { display: grid; }
  .md-hover-d-grid:hover { display: grid; }
  .md-focus-d-grid:focus { display: grid; }
  .md-active-d-grid:active { display: grid; }
  .md-disabled-d-grid:disabled { display: grid; }
  .md-focus-visible-d-grid:focus-visible { display: grid; }
  .md-focus-within-d-grid:focus-within { display: grid; }
  .group:hover .md-group-hover-d-grid { display: grid; }
  .md-d-inline-grid { display: inline-grid; }
  .md-hover-d-inline-grid:hover { display: inline-grid; }
  .md-focus-d-inline-grid:focus { display: inline-grid; }
  .md-active-d-inline-grid:active { display: inline-grid; }
  .md-disabled-d-inline-grid:disabled { display: inline-grid; }
  .md-focus-visible-d-inline-grid:focus-visible { display: inline-grid; }
  .md-focus-within-d-inline-grid:focus-within { display: inline-grid; }
  .group:hover .md-group-hover-d-inline-grid { display: inline-grid; }
  .md-d-none { display: none; }
  .md-hover-d-none:hover { display: none; }
  .md-focus-d-none:focus { display: none; }
  .md-active-d-none:active { display: none; }
  .md-disabled-d-none:disabled { display: none; }
  .md-focus-visible-d-none:focus-visible { display: none; }
  .md-focus-within-d-none:focus-within { display: none; }
  .group:hover .md-group-hover-d-none { display: none; }
  .md-visible { visibility: visible; }
  .md-hover-visible:hover { visibility: visible; }
  .md-focus-visible:focus { visibility: visible; }
  .md-active-visible:active { visibility: visible; }
  .md-disabled-visible:disabled { visibility: visible; }
  .md-focus-visible-visible:focus-visible { visibility: visible; }
  .md-focus-within-visible:focus-within { visibility: visible; }
  .group:hover .md-group-hover-visible { visibility: visible; }
  .md-hidden { visibility: hidden; }
  .md-hover-hidden:hover { visibility: hidden; }
  .md-focus-hidden:focus { visibility: hidden; }
  .md-active-hidden:active { visibility: hidden; }
  .md-disabled-hidden:disabled { visibility: hidden; }
  .md-focus-visible-hidden:focus-visible { visibility: hidden; }
  .md-focus-within-hidden:focus-within { visibility: hidden; }
  .group:hover .md-group-hover-hidden { visibility: hidden; }
  .md-collapse { visibility: collapse; }
  .md-hover-collapse:hover { visibility: collapse; }
  .md-focus-collapse:focus { visibility: collapse; }
  .md-active-collapse:active { visibility: collapse; }
  .md-disabled-collapse:disabled { visibility: collapse; }
  .md-focus-visible-collapse:focus-visible { visibility: collapse; }
  .md-focus-within-collapse:focus-within { visibility: collapse; }
  .group:hover .md-group-hover-collapse { visibility: collapse; }
  .md-backface-visible { backface-visibility: visible; }
  .md-hover-backface-visible:hover { backface-visibility: visible; }
  .md-focus-backface-visible:focus { backface-visibility: visible; }
  .md-active-backface-visible:active { backface-visibility: visible; }
  .md-disabled-backface-visible:disabled { backface-visibility: visible; }
  .md-focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
  .md-focus-within-backface-visible:focus-within { backface-visibility: visible; }
  .group:hover .md-group-hover-backface-visible { backface-visibility: visible; }
  .md-backface-hidden { backface-visibility: hidden; }
  .md-hover-backface-hidden:hover { backface-visibility: hidden; }
  .md-focus-backface-hidden:focus { backface-visibility: hidden; }
  .md-active-backface-hidden:active { backface-visibility: hidden; }
  .md-disabled-backface-hidden:disabled { backface-visibility: hidden; }
  .md-focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
  .md-focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
  .group:hover .md-group-hover-backface-hidden { backface-visibility: hidden; }
  .md-content-hidden { content-visibility: hidden; }
  .md-hover-content-hidden:hover { content-visibility: hidden; }
  .md-focus-content-hidden:focus { content-visibility: hidden; }
  .md-active-content-hidden:active { content-visibility: hidden; }
  .md-disabled-content-hidden:disabled { content-visibility: hidden; }
  .md-focus-visible-content-hidden:focus-visible { content-visibility: hidden; }
  .md-focus-within-content-hidden:focus-within { content-visibility: hidden; }
  .group:hover .md-group-hover-content-hidden { content-visibility: hidden; }
  .md-content-visible { content-visibility: visible; }
  .md-hover-content-visible:hover { content-visibility: visible; }
  .md-focus-content-visible:focus { content-visibility: visible; }
  .md-active-content-visible:active { content-visibility: visible; }
  .md-disabled-content-visible:disabled { content-visibility: visible; }
  .md-focus-visible-content-visible:focus-visible { content-visibility: visible; }
  .md-focus-within-content-visible:focus-within { content-visibility: visible; }
  .group:hover .md-group-hover-content-visible { content-visibility: visible; }
  .md-backface-visible { backface-visibility: visible; }
  .md-hover-backface-visible:hover { backface-visibility: visible; }
  .md-focus-backface-visible:focus { backface-visibility: visible; }
  .md-active-backface-visible:active { backface-visibility: visible; }
  .md-disabled-backface-visible:disabled { backface-visibility: visible; }
  .md-focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
  .md-focus-within-backface-visible:focus-within { backface-visibility: visible; }
  .group:hover .md-group-hover-backface-visible { backface-visibility: visible; }
  .md-backface-hidden { backface-visibility: hidden; }
  .md-hover-backface-hidden:hover { backface-visibility: hidden; }
  .md-focus-backface-hidden:focus { backface-visibility: hidden; }
  .md-active-backface-hidden:active { backface-visibility: hidden; }
  .md-disabled-backface-hidden:disabled { backface-visibility: hidden; }
  .md-focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
  .md-focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
  .group:hover .md-group-hover-backface-hidden { backface-visibility: hidden; }
}

/* LG Breakpoint */
@media (min-width: 1024px) {
  .lg-d-block { display: block; }
  .lg-hover-d-block:hover { display: block; }
  .lg-focus-d-block:focus { display: block; }
  .lg-active-d-block:active { display: block; }
  .lg-disabled-d-block:disabled { display: block; }
  .lg-focus-visible-d-block:focus-visible { display: block; }
  .lg-focus-within-d-block:focus-within { display: block; }
  .group:hover .lg-group-hover-d-block { display: block; }
  .lg-d-inline { display: inline; }
  .lg-hover-d-inline:hover { display: inline; }
  .lg-focus-d-inline:focus { display: inline; }
  .lg-active-d-inline:active { display: inline; }
  .lg-disabled-d-inline:disabled { display: inline; }
  .lg-focus-visible-d-inline:focus-visible { display: inline; }
  .lg-focus-within-d-inline:focus-within { display: inline; }
  .group:hover .lg-group-hover-d-inline { display: inline; }
  .lg-d-inline-block { display: inline-block; }
  .lg-hover-d-inline-block:hover { display: inline-block; }
  .lg-focus-d-inline-block:focus { display: inline-block; }
  .lg-active-d-inline-block:active { display: inline-block; }
  .lg-disabled-d-inline-block:disabled { display: inline-block; }
  .lg-focus-visible-d-inline-block:focus-visible { display: inline-block; }
  .lg-focus-within-d-inline-block:focus-within { display: inline-block; }
  .group:hover .lg-group-hover-d-inline-block { display: inline-block; }
  .lg-d-flex { display: flex; }
  .lg-hover-d-flex:hover { display: flex; }
  .lg-focus-d-flex:focus { display: flex; }
  .lg-active-d-flex:active { display: flex; }
  .lg-disabled-d-flex:disabled { display: flex; }
  .lg-focus-visible-d-flex:focus-visible { display: flex; }
  .lg-focus-within-d-flex:focus-within { display: flex; }
  .group:hover .lg-group-hover-d-flex { display: flex; }
  .lg-d-inline-flex { display: inline-flex; }
  .lg-hover-d-inline-flex:hover { display: inline-flex; }
  .lg-focus-d-inline-flex:focus { display: inline-flex; }
  .lg-active-d-inline-flex:active { display: inline-flex; }
  .lg-disabled-d-inline-flex:disabled { display: inline-flex; }
  .lg-focus-visible-d-inline-flex:focus-visible { display: inline-flex; }
  .lg-focus-within-d-inline-flex:focus-within { display: inline-flex; }
  .group:hover .lg-group-hover-d-inline-flex { display: inline-flex; }
  .lg-d-grid { display: grid; }
  .lg-hover-d-grid:hover { display: grid; }
  .lg-focus-d-grid:focus { display: grid; }
  .lg-active-d-grid:active { display: grid; }
  .lg-disabled-d-grid:disabled { display: grid; }
  .lg-focus-visible-d-grid:focus-visible { display: grid; }
  .lg-focus-within-d-grid:focus-within { display: grid; }
  .group:hover .lg-group-hover-d-grid { display: grid; }
  .lg-d-inline-grid { display: inline-grid; }
  .lg-hover-d-inline-grid:hover { display: inline-grid; }
  .lg-focus-d-inline-grid:focus { display: inline-grid; }
  .lg-active-d-inline-grid:active { display: inline-grid; }
  .lg-disabled-d-inline-grid:disabled { display: inline-grid; }
  .lg-focus-visible-d-inline-grid:focus-visible { display: inline-grid; }
  .lg-focus-within-d-inline-grid:focus-within { display: inline-grid; }
  .group:hover .lg-group-hover-d-inline-grid { display: inline-grid; }
  .lg-d-none { display: none; }
  .lg-hover-d-none:hover { display: none; }
  .lg-focus-d-none:focus { display: none; }
  .lg-active-d-none:active { display: none; }
  .lg-disabled-d-none:disabled { display: none; }
  .lg-focus-visible-d-none:focus-visible { display: none; }
  .lg-focus-within-d-none:focus-within { display: none; }
  .group:hover .lg-group-hover-d-none { display: none; }
  .lg-visible { visibility: visible; }
  .lg-hover-visible:hover { visibility: visible; }
  .lg-focus-visible:focus { visibility: visible; }
  .lg-active-visible:active { visibility: visible; }
  .lg-disabled-visible:disabled { visibility: visible; }
  .lg-focus-visible-visible:focus-visible { visibility: visible; }
  .lg-focus-within-visible:focus-within { visibility: visible; }
  .group:hover .lg-group-hover-visible { visibility: visible; }
  .lg-hidden { visibility: hidden; }
  .lg-hover-hidden:hover { visibility: hidden; }
  .lg-focus-hidden:focus { visibility: hidden; }
  .lg-active-hidden:active { visibility: hidden; }
  .lg-disabled-hidden:disabled { visibility: hidden; }
  .lg-focus-visible-hidden:focus-visible { visibility: hidden; }
  .lg-focus-within-hidden:focus-within { visibility: hidden; }
  .group:hover .lg-group-hover-hidden { visibility: hidden; }
  .lg-collapse { visibility: collapse; }
  .lg-hover-collapse:hover { visibility: collapse; }
  .lg-focus-collapse:focus { visibility: collapse; }
  .lg-active-collapse:active { visibility: collapse; }
  .lg-disabled-collapse:disabled { visibility: collapse; }
  .lg-focus-visible-collapse:focus-visible { visibility: collapse; }
  .lg-focus-within-collapse:focus-within { visibility: collapse; }
  .group:hover .lg-group-hover-collapse { visibility: collapse; }
  .lg-backface-visible { backface-visibility: visible; }
  .lg-hover-backface-visible:hover { backface-visibility: visible; }
  .lg-focus-backface-visible:focus { backface-visibility: visible; }
  .lg-active-backface-visible:active { backface-visibility: visible; }
  .lg-disabled-backface-visible:disabled { backface-visibility: visible; }
  .lg-focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
  .lg-focus-within-backface-visible:focus-within { backface-visibility: visible; }
  .group:hover .lg-group-hover-backface-visible { backface-visibility: visible; }
  .lg-backface-hidden { backface-visibility: hidden; }
  .lg-hover-backface-hidden:hover { backface-visibility: hidden; }
  .lg-focus-backface-hidden:focus { backface-visibility: hidden; }
  .lg-active-backface-hidden:active { backface-visibility: hidden; }
  .lg-disabled-backface-hidden:disabled { backface-visibility: hidden; }
  .lg-focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
  .lg-focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
  .group:hover .lg-group-hover-backface-hidden { backface-visibility: hidden; }
  .lg-content-hidden { content-visibility: hidden; }
  .lg-hover-content-hidden:hover { content-visibility: hidden; }
  .lg-focus-content-hidden:focus { content-visibility: hidden; }
  .lg-active-content-hidden:active { content-visibility: hidden; }
  .lg-disabled-content-hidden:disabled { content-visibility: hidden; }
  .lg-focus-visible-content-hidden:focus-visible { content-visibility: hidden; }
  .lg-focus-within-content-hidden:focus-within { content-visibility: hidden; }
  .group:hover .lg-group-hover-content-hidden { content-visibility: hidden; }
  .lg-content-visible { content-visibility: visible; }
  .lg-hover-content-visible:hover { content-visibility: visible; }
  .lg-focus-content-visible:focus { content-visibility: visible; }
  .lg-active-content-visible:active { content-visibility: visible; }
  .lg-disabled-content-visible:disabled { content-visibility: visible; }
  .lg-focus-visible-content-visible:focus-visible { content-visibility: visible; }
  .lg-focus-within-content-visible:focus-within { content-visibility: visible; }
  .group:hover .lg-group-hover-content-visible { content-visibility: visible; }
  .lg-backface-visible { backface-visibility: visible; }
  .lg-hover-backface-visible:hover { backface-visibility: visible; }
  .lg-focus-backface-visible:focus { backface-visibility: visible; }
  .lg-active-backface-visible:active { backface-visibility: visible; }
  .lg-disabled-backface-visible:disabled { backface-visibility: visible; }
  .lg-focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
  .lg-focus-within-backface-visible:focus-within { backface-visibility: visible; }
  .group:hover .lg-group-hover-backface-visible { backface-visibility: visible; }
  .lg-backface-hidden { backface-visibility: hidden; }
  .lg-hover-backface-hidden:hover { backface-visibility: hidden; }
  .lg-focus-backface-hidden:focus { backface-visibility: hidden; }
  .lg-active-backface-hidden:active { backface-visibility: hidden; }
  .lg-disabled-backface-hidden:disabled { backface-visibility: hidden; }
  .lg-focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
  .lg-focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
  .group:hover .lg-group-hover-backface-hidden { backface-visibility: hidden; }
}

/* XL Breakpoint */
@media (min-width: 1280px) {
  .xl-d-block { display: block; }
  .xl-hover-d-block:hover { display: block; }
  .xl-focus-d-block:focus { display: block; }
  .xl-active-d-block:active { display: block; }
  .xl-disabled-d-block:disabled { display: block; }
  .xl-focus-visible-d-block:focus-visible { display: block; }
  .xl-focus-within-d-block:focus-within { display: block; }
  .group:hover .xl-group-hover-d-block { display: block; }
  .xl-d-inline { display: inline; }
  .xl-hover-d-inline:hover { display: inline; }
  .xl-focus-d-inline:focus { display: inline; }
  .xl-active-d-inline:active { display: inline; }
  .xl-disabled-d-inline:disabled { display: inline; }
  .xl-focus-visible-d-inline:focus-visible { display: inline; }
  .xl-focus-within-d-inline:focus-within { display: inline; }
  .group:hover .xl-group-hover-d-inline { display: inline; }
  .xl-d-inline-block { display: inline-block; }
  .xl-hover-d-inline-block:hover { display: inline-block; }
  .xl-focus-d-inline-block:focus { display: inline-block; }
  .xl-active-d-inline-block:active { display: inline-block; }
  .xl-disabled-d-inline-block:disabled { display: inline-block; }
  .xl-focus-visible-d-inline-block:focus-visible { display: inline-block; }
  .xl-focus-within-d-inline-block:focus-within { display: inline-block; }
  .group:hover .xl-group-hover-d-inline-block { display: inline-block; }
  .xl-d-flex { display: flex; }
  .xl-hover-d-flex:hover { display: flex; }
  .xl-focus-d-flex:focus { display: flex; }
  .xl-active-d-flex:active { display: flex; }
  .xl-disabled-d-flex:disabled { display: flex; }
  .xl-focus-visible-d-flex:focus-visible { display: flex; }
  .xl-focus-within-d-flex:focus-within { display: flex; }
  .group:hover .xl-group-hover-d-flex { display: flex; }
  .xl-d-inline-flex { display: inline-flex; }
  .xl-hover-d-inline-flex:hover { display: inline-flex; }
  .xl-focus-d-inline-flex:focus { display: inline-flex; }
  .xl-active-d-inline-flex:active { display: inline-flex; }
  .xl-disabled-d-inline-flex:disabled { display: inline-flex; }
  .xl-focus-visible-d-inline-flex:focus-visible { display: inline-flex; }
  .xl-focus-within-d-inline-flex:focus-within { display: inline-flex; }
  .group:hover .xl-group-hover-d-inline-flex { display: inline-flex; }
  .xl-d-grid { display: grid; }
  .xl-hover-d-grid:hover { display: grid; }
  .xl-focus-d-grid:focus { display: grid; }
  .xl-active-d-grid:active { display: grid; }
  .xl-disabled-d-grid:disabled { display: grid; }
  .xl-focus-visible-d-grid:focus-visible { display: grid; }
  .xl-focus-within-d-grid:focus-within { display: grid; }
  .group:hover .xl-group-hover-d-grid { display: grid; }
  .xl-d-inline-grid { display: inline-grid; }
  .xl-hover-d-inline-grid:hover { display: inline-grid; }
  .xl-focus-d-inline-grid:focus { display: inline-grid; }
  .xl-active-d-inline-grid:active { display: inline-grid; }
  .xl-disabled-d-inline-grid:disabled { display: inline-grid; }
  .xl-focus-visible-d-inline-grid:focus-visible { display: inline-grid; }
  .xl-focus-within-d-inline-grid:focus-within { display: inline-grid; }
  .group:hover .xl-group-hover-d-inline-grid { display: inline-grid; }
  .xl-d-none { display: none; }
  .xl-hover-d-none:hover { display: none; }
  .xl-focus-d-none:focus { display: none; }
  .xl-active-d-none:active { display: none; }
  .xl-disabled-d-none:disabled { display: none; }
  .xl-focus-visible-d-none:focus-visible { display: none; }
  .xl-focus-within-d-none:focus-within { display: none; }
  .group:hover .xl-group-hover-d-none { display: none; }
  .xl-visible { visibility: visible; }
  .xl-hover-visible:hover { visibility: visible; }
  .xl-focus-visible:focus { visibility: visible; }
  .xl-active-visible:active { visibility: visible; }
  .xl-disabled-visible:disabled { visibility: visible; }
  .xl-focus-visible-visible:focus-visible { visibility: visible; }
  .xl-focus-within-visible:focus-within { visibility: visible; }
  .group:hover .xl-group-hover-visible { visibility: visible; }
  .xl-hidden { visibility: hidden; }
  .xl-hover-hidden:hover { visibility: hidden; }
  .xl-focus-hidden:focus { visibility: hidden; }
  .xl-active-hidden:active { visibility: hidden; }
  .xl-disabled-hidden:disabled { visibility: hidden; }
  .xl-focus-visible-hidden:focus-visible { visibility: hidden; }
  .xl-focus-within-hidden:focus-within { visibility: hidden; }
  .group:hover .xl-group-hover-hidden { visibility: hidden; }
  .xl-collapse { visibility: collapse; }
  .xl-hover-collapse:hover { visibility: collapse; }
  .xl-focus-collapse:focus { visibility: collapse; }
  .xl-active-collapse:active { visibility: collapse; }
  .xl-disabled-collapse:disabled { visibility: collapse; }
  .xl-focus-visible-collapse:focus-visible { visibility: collapse; }
  .xl-focus-within-collapse:focus-within { visibility: collapse; }
  .group:hover .xl-group-hover-collapse { visibility: collapse; }
  .xl-backface-visible { backface-visibility: visible; }
  .xl-hover-backface-visible:hover { backface-visibility: visible; }
  .xl-focus-backface-visible:focus { backface-visibility: visible; }
  .xl-active-backface-visible:active { backface-visibility: visible; }
  .xl-disabled-backface-visible:disabled { backface-visibility: visible; }
  .xl-focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
  .xl-focus-within-backface-visible:focus-within { backface-visibility: visible; }
  .group:hover .xl-group-hover-backface-visible { backface-visibility: visible; }
  .xl-backface-hidden { backface-visibility: hidden; }
  .xl-hover-backface-hidden:hover { backface-visibility: hidden; }
  .xl-focus-backface-hidden:focus { backface-visibility: hidden; }
  .xl-active-backface-hidden:active { backface-visibility: hidden; }
  .xl-disabled-backface-hidden:disabled { backface-visibility: hidden; }
  .xl-focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
  .xl-focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
  .group:hover .xl-group-hover-backface-hidden { backface-visibility: hidden; }
  .xl-content-hidden { content-visibility: hidden; }
  .xl-hover-content-hidden:hover { content-visibility: hidden; }
  .xl-focus-content-hidden:focus { content-visibility: hidden; }
  .xl-active-content-hidden:active { content-visibility: hidden; }
  .xl-disabled-content-hidden:disabled { content-visibility: hidden; }
  .xl-focus-visible-content-hidden:focus-visible { content-visibility: hidden; }
  .xl-focus-within-content-hidden:focus-within { content-visibility: hidden; }
  .group:hover .xl-group-hover-content-hidden { content-visibility: hidden; }
  .xl-content-visible { content-visibility: visible; }
  .xl-hover-content-visible:hover { content-visibility: visible; }
  .xl-focus-content-visible:focus { content-visibility: visible; }
  .xl-active-content-visible:active { content-visibility: visible; }
  .xl-disabled-content-visible:disabled { content-visibility: visible; }
  .xl-focus-visible-content-visible:focus-visible { content-visibility: visible; }
  .xl-focus-within-content-visible:focus-within { content-visibility: visible; }
  .group:hover .xl-group-hover-content-visible { content-visibility: visible; }
  .xl-backface-visible { backface-visibility: visible; }
  .xl-hover-backface-visible:hover { backface-visibility: visible; }
  .xl-focus-backface-visible:focus { backface-visibility: visible; }
  .xl-active-backface-visible:active { backface-visibility: visible; }
  .xl-disabled-backface-visible:disabled { backface-visibility: visible; }
  .xl-focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
  .xl-focus-within-backface-visible:focus-within { backface-visibility: visible; }
  .group:hover .xl-group-hover-backface-visible { backface-visibility: visible; }
  .xl-backface-hidden { backface-visibility: hidden; }
  .xl-hover-backface-hidden:hover { backface-visibility: hidden; }
  .xl-focus-backface-hidden:focus { backface-visibility: hidden; }
  .xl-active-backface-hidden:active { backface-visibility: hidden; }
  .xl-disabled-backface-hidden:disabled { backface-visibility: hidden; }
  .xl-focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
  .xl-focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
  .group:hover .xl-group-hover-backface-hidden { backface-visibility: hidden; }
}

/* UW Breakpoint */
@media (min-width: 1536px) {
  .uw-d-block { display: block; }
  .uw-hover-d-block:hover { display: block; }
  .uw-focus-d-block:focus { display: block; }
  .uw-active-d-block:active { display: block; }
  .uw-disabled-d-block:disabled { display: block; }
  .uw-focus-visible-d-block:focus-visible { display: block; }
  .uw-focus-within-d-block:focus-within { display: block; }
  .group:hover .uw-group-hover-d-block { display: block; }
  .uw-d-inline { display: inline; }
  .uw-hover-d-inline:hover { display: inline; }
  .uw-focus-d-inline:focus { display: inline; }
  .uw-active-d-inline:active { display: inline; }
  .uw-disabled-d-inline:disabled { display: inline; }
  .uw-focus-visible-d-inline:focus-visible { display: inline; }
  .uw-focus-within-d-inline:focus-within { display: inline; }
  .group:hover .uw-group-hover-d-inline { display: inline; }
  .uw-d-inline-block { display: inline-block; }
  .uw-hover-d-inline-block:hover { display: inline-block; }
  .uw-focus-d-inline-block:focus { display: inline-block; }
  .uw-active-d-inline-block:active { display: inline-block; }
  .uw-disabled-d-inline-block:disabled { display: inline-block; }
  .uw-focus-visible-d-inline-block:focus-visible { display: inline-block; }
  .uw-focus-within-d-inline-block:focus-within { display: inline-block; }
  .group:hover .uw-group-hover-d-inline-block { display: inline-block; }
  .uw-d-flex { display: flex; }
  .uw-hover-d-flex:hover { display: flex; }
  .uw-focus-d-flex:focus { display: flex; }
  .uw-active-d-flex:active { display: flex; }
  .uw-disabled-d-flex:disabled { display: flex; }
  .uw-focus-visible-d-flex:focus-visible { display: flex; }
  .uw-focus-within-d-flex:focus-within { display: flex; }
  .group:hover .uw-group-hover-d-flex { display: flex; }
  .uw-d-inline-flex { display: inline-flex; }
  .uw-hover-d-inline-flex:hover { display: inline-flex; }
  .uw-focus-d-inline-flex:focus { display: inline-flex; }
  .uw-active-d-inline-flex:active { display: inline-flex; }
  .uw-disabled-d-inline-flex:disabled { display: inline-flex; }
  .uw-focus-visible-d-inline-flex:focus-visible { display: inline-flex; }
  .uw-focus-within-d-inline-flex:focus-within { display: inline-flex; }
  .group:hover .uw-group-hover-d-inline-flex { display: inline-flex; }
  .uw-d-grid { display: grid; }
  .uw-hover-d-grid:hover { display: grid; }
  .uw-focus-d-grid:focus { display: grid; }
  .uw-active-d-grid:active { display: grid; }
  .uw-disabled-d-grid:disabled { display: grid; }
  .uw-focus-visible-d-grid:focus-visible { display: grid; }
  .uw-focus-within-d-grid:focus-within { display: grid; }
  .group:hover .uw-group-hover-d-grid { display: grid; }
  .uw-d-inline-grid { display: inline-grid; }
  .uw-hover-d-inline-grid:hover { display: inline-grid; }
  .uw-focus-d-inline-grid:focus { display: inline-grid; }
  .uw-active-d-inline-grid:active { display: inline-grid; }
  .uw-disabled-d-inline-grid:disabled { display: inline-grid; }
  .uw-focus-visible-d-inline-grid:focus-visible { display: inline-grid; }
  .uw-focus-within-d-inline-grid:focus-within { display: inline-grid; }
  .group:hover .uw-group-hover-d-inline-grid { display: inline-grid; }
  .uw-d-none { display: none; }
  .uw-hover-d-none:hover { display: none; }
  .uw-focus-d-none:focus { display: none; }
  .uw-active-d-none:active { display: none; }
  .uw-disabled-d-none:disabled { display: none; }
  .uw-focus-visible-d-none:focus-visible { display: none; }
  .uw-focus-within-d-none:focus-within { display: none; }
  .group:hover .uw-group-hover-d-none { display: none; }
  .uw-visible { visibility: visible; }
  .uw-hover-visible:hover { visibility: visible; }
  .uw-focus-visible:focus { visibility: visible; }
  .uw-active-visible:active { visibility: visible; }
  .uw-disabled-visible:disabled { visibility: visible; }
  .uw-focus-visible-visible:focus-visible { visibility: visible; }
  .uw-focus-within-visible:focus-within { visibility: visible; }
  .group:hover .uw-group-hover-visible { visibility: visible; }
  .uw-hidden { visibility: hidden; }
  .uw-hover-hidden:hover { visibility: hidden; }
  .uw-focus-hidden:focus { visibility: hidden; }
  .uw-active-hidden:active { visibility: hidden; }
  .uw-disabled-hidden:disabled { visibility: hidden; }
  .uw-focus-visible-hidden:focus-visible { visibility: hidden; }
  .uw-focus-within-hidden:focus-within { visibility: hidden; }
  .group:hover .uw-group-hover-hidden { visibility: hidden; }
  .uw-collapse { visibility: collapse; }
  .uw-hover-collapse:hover { visibility: collapse; }
  .uw-focus-collapse:focus { visibility: collapse; }
  .uw-active-collapse:active { visibility: collapse; }
  .uw-disabled-collapse:disabled { visibility: collapse; }
  .uw-focus-visible-collapse:focus-visible { visibility: collapse; }
  .uw-focus-within-collapse:focus-within { visibility: collapse; }
  .group:hover .uw-group-hover-collapse { visibility: collapse; }
  .uw-backface-visible { backface-visibility: visible; }
  .uw-hover-backface-visible:hover { backface-visibility: visible; }
  .uw-focus-backface-visible:focus { backface-visibility: visible; }
  .uw-active-backface-visible:active { backface-visibility: visible; }
  .uw-disabled-backface-visible:disabled { backface-visibility: visible; }
  .uw-focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
  .uw-focus-within-backface-visible:focus-within { backface-visibility: visible; }
  .group:hover .uw-group-hover-backface-visible { backface-visibility: visible; }
  .uw-backface-hidden { backface-visibility: hidden; }
  .uw-hover-backface-hidden:hover { backface-visibility: hidden; }
  .uw-focus-backface-hidden:focus { backface-visibility: hidden; }
  .uw-active-backface-hidden:active { backface-visibility: hidden; }
  .uw-disabled-backface-hidden:disabled { backface-visibility: hidden; }
  .uw-focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
  .uw-focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
  .group:hover .uw-group-hover-backface-hidden { backface-visibility: hidden; }
  .uw-content-hidden { content-visibility: hidden; }
  .uw-hover-content-hidden:hover { content-visibility: hidden; }
  .uw-focus-content-hidden:focus { content-visibility: hidden; }
  .uw-active-content-hidden:active { content-visibility: hidden; }
  .uw-disabled-content-hidden:disabled { content-visibility: hidden; }
  .uw-focus-visible-content-hidden:focus-visible { content-visibility: hidden; }
  .uw-focus-within-content-hidden:focus-within { content-visibility: hidden; }
  .group:hover .uw-group-hover-content-hidden { content-visibility: hidden; }
  .uw-content-visible { content-visibility: visible; }
  .uw-hover-content-visible:hover { content-visibility: visible; }
  .uw-focus-content-visible:focus { content-visibility: visible; }
  .uw-active-content-visible:active { content-visibility: visible; }
  .uw-disabled-content-visible:disabled { content-visibility: visible; }
  .uw-focus-visible-content-visible:focus-visible { content-visibility: visible; }
  .uw-focus-within-content-visible:focus-within { content-visibility: visible; }
  .group:hover .uw-group-hover-content-visible { content-visibility: visible; }
  .uw-backface-visible { backface-visibility: visible; }
  .uw-hover-backface-visible:hover { backface-visibility: visible; }
  .uw-focus-backface-visible:focus { backface-visibility: visible; }
  .uw-active-backface-visible:active { backface-visibility: visible; }
  .uw-disabled-backface-visible:disabled { backface-visibility: visible; }
  .uw-focus-visible-backface-visible:focus-visible { backface-visibility: visible; }
  .uw-focus-within-backface-visible:focus-within { backface-visibility: visible; }
  .group:hover .uw-group-hover-backface-visible { backface-visibility: visible; }
  .uw-backface-hidden { backface-visibility: hidden; }
  .uw-hover-backface-hidden:hover { backface-visibility: hidden; }
  .uw-focus-backface-hidden:focus { backface-visibility: hidden; }
  .uw-active-backface-hidden:active { backface-visibility: hidden; }
  .uw-disabled-backface-hidden:disabled { backface-visibility: hidden; }
  .uw-focus-visible-backface-hidden:focus-visible { backface-visibility: hidden; }
  .uw-focus-within-backface-hidden:focus-within { backface-visibility: hidden; }
  .group:hover .uw-group-hover-backface-hidden { backface-visibility: hidden; }
}
