/* Quanta CSS v2.1 - svg Dark Variants */

/* Dark Mode Variants */
.dark, [data-theme="dark"] .dark-fill-current { fill: currentColor; }
.dark, [data-theme="dark"] .dark-hover-fill-current:hover { fill: currentColor; }
.dark, [data-theme="dark"] .dark-focus-fill-current:focus { fill: currentColor; }
.dark, [data-theme="dark"] .dark-active-fill-current:active { fill: currentColor; }
.dark, [data-theme="dark"] .dark-disabled-fill-current:disabled { fill: currentColor; }
.dark, [data-theme="dark"] .dark-focus-visible-fill-current:focus-visible { fill: currentColor; }
.dark, [data-theme="dark"] .dark-focus-within-fill-current:focus-within { fill: currentColor; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-fill-current { fill: currentColor; }
.dark, [data-theme="dark"] .dark-fill-none { fill: none; }
.dark, [data-theme="dark"] .dark-hover-fill-none:hover { fill: none; }
.dark, [data-theme="dark"] .dark-focus-fill-none:focus { fill: none; }
.dark, [data-theme="dark"] .dark-active-fill-none:active { fill: none; }
.dark, [data-theme="dark"] .dark-disabled-fill-none:disabled { fill: none; }
.dark, [data-theme="dark"] .dark-focus-visible-fill-none:focus-visible { fill: none; }
.dark, [data-theme="dark"] .dark-focus-within-fill-none:focus-within { fill: none; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-fill-none { fill: none; }
.dark, [data-theme="dark"] .dark-stroke-current { stroke: currentColor; }
.dark, [data-theme="dark"] .dark-hover-stroke-current:hover { stroke: currentColor; }
.dark, [data-theme="dark"] .dark-focus-stroke-current:focus { stroke: currentColor; }
.dark, [data-theme="dark"] .dark-active-stroke-current:active { stroke: currentColor; }
.dark, [data-theme="dark"] .dark-disabled-stroke-current:disabled { stroke: currentColor; }
.dark, [data-theme="dark"] .dark-focus-visible-stroke-current:focus-visible { stroke: currentColor; }
.dark, [data-theme="dark"] .dark-focus-within-stroke-current:focus-within { stroke: currentColor; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-stroke-current { stroke: currentColor; }
.dark, [data-theme="dark"] .dark-stroke-0 { stroke-width: 0; }
.dark, [data-theme="dark"] .dark-hover-stroke-0:hover { stroke-width: 0; }
.dark, [data-theme="dark"] .dark-focus-stroke-0:focus { stroke-width: 0; }
.dark, [data-theme="dark"] .dark-active-stroke-0:active { stroke-width: 0; }
.dark, [data-theme="dark"] .dark-disabled-stroke-0:disabled { stroke-width: 0; }
.dark, [data-theme="dark"] .dark-focus-visible-stroke-0:focus-visible { stroke-width: 0; }
.dark, [data-theme="dark"] .dark-focus-within-stroke-0:focus-within { stroke-width: 0; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-stroke-0 { stroke-width: 0; }
.dark, [data-theme="dark"] .dark-stroke-1 { stroke-width: 1; }
.dark, [data-theme="dark"] .dark-hover-stroke-1:hover { stroke-width: 1; }
.dark, [data-theme="dark"] .dark-focus-stroke-1:focus { stroke-width: 1; }
.dark, [data-theme="dark"] .dark-active-stroke-1:active { stroke-width: 1; }
.dark, [data-theme="dark"] .dark-disabled-stroke-1:disabled { stroke-width: 1; }
.dark, [data-theme="dark"] .dark-focus-visible-stroke-1:focus-visible { stroke-width: 1; }
.dark, [data-theme="dark"] .dark-focus-within-stroke-1:focus-within { stroke-width: 1; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-stroke-1 { stroke-width: 1; }
.dark, [data-theme="dark"] .dark-stroke-2 { stroke-width: 2; }
.dark, [data-theme="dark"] .dark-hover-stroke-2:hover { stroke-width: 2; }
.dark, [data-theme="dark"] .dark-focus-stroke-2:focus { stroke-width: 2; }
.dark, [data-theme="dark"] .dark-active-stroke-2:active { stroke-width: 2; }
.dark, [data-theme="dark"] .dark-disabled-stroke-2:disabled { stroke-width: 2; }
.dark, [data-theme="dark"] .dark-focus-visible-stroke-2:focus-visible { stroke-width: 2; }
.dark, [data-theme="dark"] .dark-focus-within-stroke-2:focus-within { stroke-width: 2; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-stroke-2 { stroke-width: 2; }
.dark, [data-theme="dark"] .dark-stroke-4 { stroke-width: 4; }
.dark, [data-theme="dark"] .dark-hover-stroke-4:hover { stroke-width: 4; }
.dark, [data-theme="dark"] .dark-focus-stroke-4:focus { stroke-width: 4; }
.dark, [data-theme="dark"] .dark-active-stroke-4:active { stroke-width: 4; }
.dark, [data-theme="dark"] .dark-disabled-stroke-4:disabled { stroke-width: 4; }
.dark, [data-theme="dark"] .dark-focus-visible-stroke-4:focus-visible { stroke-width: 4; }
.dark, [data-theme="dark"] .dark-focus-within-stroke-4:focus-within { stroke-width: 4; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-stroke-4 { stroke-width: 4; }
.dark, [data-theme="dark"] .dark-stroke-8 { stroke-width: 8; }
.dark, [data-theme="dark"] .dark-hover-stroke-8:hover { stroke-width: 8; }
.dark, [data-theme="dark"] .dark-focus-stroke-8:focus { stroke-width: 8; }
.dark, [data-theme="dark"] .dark-active-stroke-8:active { stroke-width: 8; }
.dark, [data-theme="dark"] .dark-disabled-stroke-8:disabled { stroke-width: 8; }
.dark, [data-theme="dark"] .dark-focus-visible-stroke-8:focus-visible { stroke-width: 8; }
.dark, [data-theme="dark"] .dark-focus-within-stroke-8:focus-within { stroke-width: 8; }
.dark, [data-theme="dark"] .group:hover .dark-group-hover-stroke-8 { stroke-width: 8; }

/* SM Breakpoint (Dark) */
@media (min-width: 480px) {
  .dark, [data-theme="dark"] .dark-sm-fill-current { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-hover-fill-current:hover { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-focus-fill-current:focus { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-active-fill-current:active { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-disabled-fill-current:disabled { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-fill-current:focus-visible { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-fill-current:focus-within { fill: currentColor; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-fill-current { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-fill-none { fill: none; }
  .dark, [data-theme="dark"] .dark-sm-hover-fill-none:hover { fill: none; }
  .dark, [data-theme="dark"] .dark-sm-focus-fill-none:focus { fill: none; }
  .dark, [data-theme="dark"] .dark-sm-active-fill-none:active { fill: none; }
  .dark, [data-theme="dark"] .dark-sm-disabled-fill-none:disabled { fill: none; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-fill-none:focus-visible { fill: none; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-fill-none:focus-within { fill: none; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-fill-none { fill: none; }
  .dark, [data-theme="dark"] .dark-sm-stroke-current { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-hover-stroke-current:hover { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-focus-stroke-current:focus { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-active-stroke-current:active { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-disabled-stroke-current:disabled { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-stroke-current:focus-visible { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-stroke-current:focus-within { stroke: currentColor; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-stroke-current { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-sm-stroke-0 { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-sm-hover-stroke-0:hover { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-sm-focus-stroke-0:focus { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-sm-active-stroke-0:active { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-sm-disabled-stroke-0:disabled { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-stroke-0:focus-visible { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-stroke-0:focus-within { stroke-width: 0; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-stroke-0 { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-sm-stroke-1 { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-sm-hover-stroke-1:hover { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-sm-focus-stroke-1:focus { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-sm-active-stroke-1:active { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-sm-disabled-stroke-1:disabled { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-stroke-1:focus-visible { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-stroke-1:focus-within { stroke-width: 1; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-stroke-1 { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-sm-stroke-2 { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-sm-hover-stroke-2:hover { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-sm-focus-stroke-2:focus { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-sm-active-stroke-2:active { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-sm-disabled-stroke-2:disabled { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-stroke-2:focus-visible { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-stroke-2:focus-within { stroke-width: 2; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-stroke-2 { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-sm-stroke-4 { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-sm-hover-stroke-4:hover { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-sm-focus-stroke-4:focus { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-sm-active-stroke-4:active { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-sm-disabled-stroke-4:disabled { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-stroke-4:focus-visible { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-stroke-4:focus-within { stroke-width: 4; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-stroke-4 { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-sm-stroke-8 { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-sm-hover-stroke-8:hover { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-sm-focus-stroke-8:focus { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-sm-active-stroke-8:active { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-sm-disabled-stroke-8:disabled { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-sm-focus-visible-stroke-8:focus-visible { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-sm-focus-within-stroke-8:focus-within { stroke-width: 8; }
  .dark, [data-theme="dark"] .group:hover .dark-sm-group-hover-stroke-8 { stroke-width: 8; }
}

/* MD Breakpoint (Dark) */
@media (min-width: 768px) {
  .dark, [data-theme="dark"] .dark-md-fill-current { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-md-hover-fill-current:hover { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-md-focus-fill-current:focus { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-md-active-fill-current:active { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-md-disabled-fill-current:disabled { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-fill-current:focus-visible { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-md-focus-within-fill-current:focus-within { fill: currentColor; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-fill-current { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-md-fill-none { fill: none; }
  .dark, [data-theme="dark"] .dark-md-hover-fill-none:hover { fill: none; }
  .dark, [data-theme="dark"] .dark-md-focus-fill-none:focus { fill: none; }
  .dark, [data-theme="dark"] .dark-md-active-fill-none:active { fill: none; }
  .dark, [data-theme="dark"] .dark-md-disabled-fill-none:disabled { fill: none; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-fill-none:focus-visible { fill: none; }
  .dark, [data-theme="dark"] .dark-md-focus-within-fill-none:focus-within { fill: none; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-fill-none { fill: none; }
  .dark, [data-theme="dark"] .dark-md-stroke-current { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-md-hover-stroke-current:hover { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-md-focus-stroke-current:focus { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-md-active-stroke-current:active { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-md-disabled-stroke-current:disabled { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-stroke-current:focus-visible { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-md-focus-within-stroke-current:focus-within { stroke: currentColor; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-stroke-current { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-md-stroke-0 { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-md-hover-stroke-0:hover { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-md-focus-stroke-0:focus { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-md-active-stroke-0:active { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-md-disabled-stroke-0:disabled { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-stroke-0:focus-visible { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-md-focus-within-stroke-0:focus-within { stroke-width: 0; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-stroke-0 { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-md-stroke-1 { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-md-hover-stroke-1:hover { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-md-focus-stroke-1:focus { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-md-active-stroke-1:active { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-md-disabled-stroke-1:disabled { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-stroke-1:focus-visible { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-md-focus-within-stroke-1:focus-within { stroke-width: 1; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-stroke-1 { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-md-stroke-2 { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-md-hover-stroke-2:hover { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-md-focus-stroke-2:focus { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-md-active-stroke-2:active { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-md-disabled-stroke-2:disabled { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-stroke-2:focus-visible { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-md-focus-within-stroke-2:focus-within { stroke-width: 2; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-stroke-2 { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-md-stroke-4 { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-md-hover-stroke-4:hover { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-md-focus-stroke-4:focus { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-md-active-stroke-4:active { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-md-disabled-stroke-4:disabled { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-stroke-4:focus-visible { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-md-focus-within-stroke-4:focus-within { stroke-width: 4; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-stroke-4 { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-md-stroke-8 { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-md-hover-stroke-8:hover { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-md-focus-stroke-8:focus { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-md-active-stroke-8:active { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-md-disabled-stroke-8:disabled { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-md-focus-visible-stroke-8:focus-visible { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-md-focus-within-stroke-8:focus-within { stroke-width: 8; }
  .dark, [data-theme="dark"] .group:hover .dark-md-group-hover-stroke-8 { stroke-width: 8; }
}

/* LG Breakpoint (Dark) */
@media (min-width: 1024px) {
  .dark, [data-theme="dark"] .dark-lg-fill-current { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-hover-fill-current:hover { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-focus-fill-current:focus { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-active-fill-current:active { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-disabled-fill-current:disabled { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-fill-current:focus-visible { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-fill-current:focus-within { fill: currentColor; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-fill-current { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-fill-none { fill: none; }
  .dark, [data-theme="dark"] .dark-lg-hover-fill-none:hover { fill: none; }
  .dark, [data-theme="dark"] .dark-lg-focus-fill-none:focus { fill: none; }
  .dark, [data-theme="dark"] .dark-lg-active-fill-none:active { fill: none; }
  .dark, [data-theme="dark"] .dark-lg-disabled-fill-none:disabled { fill: none; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-fill-none:focus-visible { fill: none; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-fill-none:focus-within { fill: none; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-fill-none { fill: none; }
  .dark, [data-theme="dark"] .dark-lg-stroke-current { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-hover-stroke-current:hover { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-focus-stroke-current:focus { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-active-stroke-current:active { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-disabled-stroke-current:disabled { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-stroke-current:focus-visible { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-stroke-current:focus-within { stroke: currentColor; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-stroke-current { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-lg-stroke-0 { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-lg-hover-stroke-0:hover { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-lg-focus-stroke-0:focus { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-lg-active-stroke-0:active { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-lg-disabled-stroke-0:disabled { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-stroke-0:focus-visible { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-stroke-0:focus-within { stroke-width: 0; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-stroke-0 { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-lg-stroke-1 { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-lg-hover-stroke-1:hover { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-lg-focus-stroke-1:focus { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-lg-active-stroke-1:active { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-lg-disabled-stroke-1:disabled { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-stroke-1:focus-visible { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-stroke-1:focus-within { stroke-width: 1; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-stroke-1 { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-lg-stroke-2 { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-lg-hover-stroke-2:hover { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-lg-focus-stroke-2:focus { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-lg-active-stroke-2:active { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-lg-disabled-stroke-2:disabled { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-stroke-2:focus-visible { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-stroke-2:focus-within { stroke-width: 2; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-stroke-2 { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-lg-stroke-4 { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-lg-hover-stroke-4:hover { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-lg-focus-stroke-4:focus { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-lg-active-stroke-4:active { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-lg-disabled-stroke-4:disabled { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-stroke-4:focus-visible { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-stroke-4:focus-within { stroke-width: 4; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-stroke-4 { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-lg-stroke-8 { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-lg-hover-stroke-8:hover { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-lg-focus-stroke-8:focus { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-lg-active-stroke-8:active { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-lg-disabled-stroke-8:disabled { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-lg-focus-visible-stroke-8:focus-visible { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-lg-focus-within-stroke-8:focus-within { stroke-width: 8; }
  .dark, [data-theme="dark"] .group:hover .dark-lg-group-hover-stroke-8 { stroke-width: 8; }
}

/* XL Breakpoint (Dark) */
@media (min-width: 1280px) {
  .dark, [data-theme="dark"] .dark-xl-fill-current { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-hover-fill-current:hover { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-focus-fill-current:focus { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-active-fill-current:active { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-disabled-fill-current:disabled { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-fill-current:focus-visible { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-fill-current:focus-within { fill: currentColor; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-fill-current { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-fill-none { fill: none; }
  .dark, [data-theme="dark"] .dark-xl-hover-fill-none:hover { fill: none; }
  .dark, [data-theme="dark"] .dark-xl-focus-fill-none:focus { fill: none; }
  .dark, [data-theme="dark"] .dark-xl-active-fill-none:active { fill: none; }
  .dark, [data-theme="dark"] .dark-xl-disabled-fill-none:disabled { fill: none; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-fill-none:focus-visible { fill: none; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-fill-none:focus-within { fill: none; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-fill-none { fill: none; }
  .dark, [data-theme="dark"] .dark-xl-stroke-current { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-hover-stroke-current:hover { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-focus-stroke-current:focus { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-active-stroke-current:active { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-disabled-stroke-current:disabled { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-stroke-current:focus-visible { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-stroke-current:focus-within { stroke: currentColor; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-stroke-current { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-xl-stroke-0 { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-xl-hover-stroke-0:hover { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-xl-focus-stroke-0:focus { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-xl-active-stroke-0:active { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-xl-disabled-stroke-0:disabled { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-stroke-0:focus-visible { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-stroke-0:focus-within { stroke-width: 0; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-stroke-0 { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-xl-stroke-1 { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-xl-hover-stroke-1:hover { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-xl-focus-stroke-1:focus { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-xl-active-stroke-1:active { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-xl-disabled-stroke-1:disabled { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-stroke-1:focus-visible { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-stroke-1:focus-within { stroke-width: 1; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-stroke-1 { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-xl-stroke-2 { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-xl-hover-stroke-2:hover { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-xl-focus-stroke-2:focus { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-xl-active-stroke-2:active { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-xl-disabled-stroke-2:disabled { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-stroke-2:focus-visible { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-stroke-2:focus-within { stroke-width: 2; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-stroke-2 { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-xl-stroke-4 { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-xl-hover-stroke-4:hover { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-xl-focus-stroke-4:focus { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-xl-active-stroke-4:active { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-xl-disabled-stroke-4:disabled { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-stroke-4:focus-visible { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-stroke-4:focus-within { stroke-width: 4; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-stroke-4 { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-xl-stroke-8 { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-xl-hover-stroke-8:hover { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-xl-focus-stroke-8:focus { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-xl-active-stroke-8:active { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-xl-disabled-stroke-8:disabled { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-xl-focus-visible-stroke-8:focus-visible { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-xl-focus-within-stroke-8:focus-within { stroke-width: 8; }
  .dark, [data-theme="dark"] .group:hover .dark-xl-group-hover-stroke-8 { stroke-width: 8; }
}

/* UW Breakpoint (Dark) */
@media (min-width: 1536px) {
  .dark, [data-theme="dark"] .dark-uw-fill-current { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-hover-fill-current:hover { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-focus-fill-current:focus { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-active-fill-current:active { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-disabled-fill-current:disabled { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-fill-current:focus-visible { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-fill-current:focus-within { fill: currentColor; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-fill-current { fill: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-fill-none { fill: none; }
  .dark, [data-theme="dark"] .dark-uw-hover-fill-none:hover { fill: none; }
  .dark, [data-theme="dark"] .dark-uw-focus-fill-none:focus { fill: none; }
  .dark, [data-theme="dark"] .dark-uw-active-fill-none:active { fill: none; }
  .dark, [data-theme="dark"] .dark-uw-disabled-fill-none:disabled { fill: none; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-fill-none:focus-visible { fill: none; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-fill-none:focus-within { fill: none; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-fill-none { fill: none; }
  .dark, [data-theme="dark"] .dark-uw-stroke-current { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-hover-stroke-current:hover { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-focus-stroke-current:focus { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-active-stroke-current:active { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-disabled-stroke-current:disabled { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-stroke-current:focus-visible { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-stroke-current:focus-within { stroke: currentColor; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-stroke-current { stroke: currentColor; }
  .dark, [data-theme="dark"] .dark-uw-stroke-0 { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-uw-hover-stroke-0:hover { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-uw-focus-stroke-0:focus { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-uw-active-stroke-0:active { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-uw-disabled-stroke-0:disabled { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-stroke-0:focus-visible { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-stroke-0:focus-within { stroke-width: 0; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-stroke-0 { stroke-width: 0; }
  .dark, [data-theme="dark"] .dark-uw-stroke-1 { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-uw-hover-stroke-1:hover { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-uw-focus-stroke-1:focus { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-uw-active-stroke-1:active { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-uw-disabled-stroke-1:disabled { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-stroke-1:focus-visible { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-stroke-1:focus-within { stroke-width: 1; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-stroke-1 { stroke-width: 1; }
  .dark, [data-theme="dark"] .dark-uw-stroke-2 { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-uw-hover-stroke-2:hover { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-uw-focus-stroke-2:focus { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-uw-active-stroke-2:active { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-uw-disabled-stroke-2:disabled { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-stroke-2:focus-visible { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-stroke-2:focus-within { stroke-width: 2; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-stroke-2 { stroke-width: 2; }
  .dark, [data-theme="dark"] .dark-uw-stroke-4 { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-uw-hover-stroke-4:hover { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-uw-focus-stroke-4:focus { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-uw-active-stroke-4:active { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-uw-disabled-stroke-4:disabled { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-stroke-4:focus-visible { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-stroke-4:focus-within { stroke-width: 4; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-stroke-4 { stroke-width: 4; }
  .dark, [data-theme="dark"] .dark-uw-stroke-8 { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-uw-hover-stroke-8:hover { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-uw-focus-stroke-8:focus { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-uw-active-stroke-8:active { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-uw-disabled-stroke-8:disabled { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-uw-focus-visible-stroke-8:focus-visible { stroke-width: 8; }
  .dark, [data-theme="dark"] .dark-uw-focus-within-stroke-8:focus-within { stroke-width: 8; }
  .dark, [data-theme="dark"] .group:hover .dark-uw-group-hover-stroke-8 { stroke-width: 8; }
}
