

.size-0 { width: 0; height: 0; }

/* 1 unit = 0.25rem */
.size-1 { width: 0.25rem; height: 0.25rem; }

.size-2 { width: 0.5rem; height: 0.5rem; }

.size-3 { width: 0.75rem; height: 0.75rem; }

.size-4 { width: 1rem; height: 1rem; }

.size-5 { width: 1.25rem; height: 1.25rem; }

.size-6 { width: 1.5rem; height: 1.5rem; }

.size-7 { width: 1.75rem; height: 1.75rem; }

.size-8 { width: 2rem; height: 2rem; }

.size-9 { width: 2.25rem; height: 2.25rem; }

.size-10 { width: 2.5rem; height: 2.5rem; }

.size-11 { width: 2.75rem; height: 2.75rem; }

.size-12 { width: 3rem; height: 3rem; }

.size-14 { width: 3.5rem; height: 3.5rem; }

.size-16 { width: 4rem; height: 4rem; }

.size-20 { width: 5rem; height: 5rem; }

.size-24 { width: 6rem; height: 6rem; }

.size-28 { width: 7rem; height: 7rem; }

.size-32 { width: 8rem; height: 8rem; }

.size-36 { width: 9rem; height: 9rem; }

.size-40 { width: 10rem; height: 10rem; }

.size-44 { width: 11rem; height: 11rem; }

.size-48 { width: 12rem; height: 12rem; }

.size-52 { width: 13rem; height: 13rem; }

.size-56 { width: 14rem; height: 14rem; }

.size-60 { width: 15rem; height: 15rem; }

.size-64 { width: 16rem; height: 16rem; }

.size-72 { width: 18rem; height: 18rem; }

.size-80 { width: 20rem; height: 20rem; }

.size-96 { width: 24rem; height: 24rem; }